{% extends "package/base_form_page.html" %}

{% set result = c.result %}
{% set errors = c.errors %}
{% set error_summary = c.error_summary %}

{% block subtitle %}{{ _('Import Metadata') }}{% endblock %}

{% block breadcrumb_content %}
    <li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
    <li class="active"><a href="">{{ _('Import Dataset') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
    <h3>{{ _('Import Metadata') }}</h3>
    
    {% if not result %}
    
    <p>
    Create a new dataset by importing an existing <strong>XML</strong> metadata file. You can either upload a local file 
    from your computer, or use a link (if allready published somewhere).
    </p>
    {% snippet 'package/snippets/import_metadata_form.html', errors=errors, error_summary=error_summary %}
    
    {% else %} {# result #}
        
    {% snippet 'package/snippets/import_metadata_result.html', result=result, user=c.user %}

    {% endif %} {# result #}
{% endblock %}
