{% ckan_extends %}

{# Note: The parent template has aliased c.pkg_dict as pkg #}

{% block package_description %}
  {{ super() }}
{% endblock %}

{% block page_heading %}
  {{ pkg.title or pkg.name }}

  {% if pkg.get('state', '').startswith('draft') %}
  <span class="label package-state label-info state-draft">{{ _('Draft') }}</span>
  {% elif pkg.get('state', '').startswith('deleted') %}
  <span class="label package-state label-important state-deleted">{{ _('Deleted') }}</span>
  {% elif pkg.get('state', '').startswith('invalid') %}
  <span class="label package-state label-important state-invalid">{{ _('Invalid') }}</span>
  {% endif %} {# state #}
{% endblock %}

{% block package_additional_info %}
  {# This is a replacement for additional_info.html -#}
  {#{% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}#}
  {% snippet "package/snippets/package_metadata_table.html", pkg_dict=pkg %}
{% endblock %}

{% block secondary_content %}
  {{ super() }}

  {% if pkg.spatial %}
  {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=pkg.spatial %}
  {% endif %}
{% endblock %}
