{% ckan_extends %}

{% block resource_actions_inner %}

    {% if res.format == 'wms' %}
    <li>
    <a class="btn" href={{ "/maps/" + res.id}} >
            <i class="icon-medium icon-globe"></i>{{ _(' View in Maps')}}
        </a>
    </li>
    {% endif %}

    {% if h.check_access('package_update', {'id':pkg.id }) %}
        <li>{% link_for _('Manage'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
    {% endif %}
    {% if res.url %}
        {% if  res.resource_type != 'api' %}
        <li>
        <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
            {% if res.resource_type in ('listing', 'service') %}
            <i class="icon-eye-open"></i> {{ _('View') }}
            {# <i class="icon-key"></i> {{ _('API Endpoint') }} #}
            {% elif not res.can_be_previewed %}
            <i class="icon-external-link"></i> {{ _('Go to resource') }}
            {% else %}
            <i class="icon-download"></i> {{ _('Download') }}
            {% endif %}
        </a>
        </li>
        {% endif %}
    {% endif %}
    {% if 'datastore' in g.plugins %}
        <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
        {% endif %}
            
{% endblock %}

