{% extends "package/base_form_page.html" %}

{% set errors = errors or {} %}

{% block subtitle %}{{ _('Upload metadata from XML file') }}{% endblock %}
{{errors}}

{% block primary_content_inner %}{% snippet 'package/snippets/xml_upload_form.html', data=data, errors=errors, error_summary=error_summary, include_metadata=false, pkg_name=pkg_name, stage=stage, allow_upload=g.ofs_impl and logged_in %}{% endblock %}



{% block scripts %}
  {{ super() }}
  {% resource 'vendor/fileupload' %}
{% endblock %}
