jsonpickle
geojson
shapely
GeoAlchemy>=0.6
requests==1.1.0
zope.interface==4.0.1
zope.schema==4.4
zope.component==4.1
zope.dottedname
z3c.schema
owslib==0.8.8
inflection
pytz
isodate
dictdiffer
pytidylib
-e git+https://drmalex07@github.com/PublicaMundi/ckanext-spatial#egg=ckanext-spatial
#Vectorplugin
gsconfig
pyunpack
http://downloads.sourceforge.net/project/patool/0.17/patool-0.17.tar.gz
entrypoint2
psycopg2

