{% from 'macros/markup_helpers.html' import mark_required %}

{%- if attrs is not defined %}{% set attrs = {} %}{% endif %}
{%- if icons is not defined %}{% set icons = {} %}{% endif %}
{%- if labels is not defined %}{% set labels = {} %}{% endif %}

{%- if classes is not defined %}
{% set classes = { 'buttons': [], 'remove_buttons': [] } %}
{% endif -%}

<div class="control-group control-upload image-upload {{ classes|join(' ') }}"
    data-module="upload-link" data-module-name="{{ name }}"
    {{ attrs|xmlattr -}}
 >
    <label class="control-label">{{- title }}{{ mark_required(required) }}</label>

    <div class="controls choose-method" style="display:block">
        <input type="file" name="{{ name }}-upload" id="input-{{ name }}-upload" 
            {% if allowed_mime_types %}accept="{{ allowed_mime_types|join(',') }}"{% endif %} />
        <button class="btn {{ classes.buttons|join(' ') }} upload-file">
            <i class="{{ icons.upload|default('icon-cloud-upload') }}"></i> {{ labels.upload|default(_('Upload')) -}}
        </button>
        <button class="btn {{ classes.buttons|join(' ') }} link-file" >
            <i class="{{ icons.link|default('icon-globe') }}"></i> {{ labels.link|default(_('Link')) -}}
        </button>
    </div>

    <div class="controls link-file" style="display:none">
        {% block controls_link_file  %}
        <input type="url" class="span5" name="{{ name }}" id="input-{{ name }}"/>
        <button class="btn {{ (classes.buttons + classes.remove_buttons)|join(' ') }} remove-link" title="">
            <i class="icon-remove"></i> {{ _('Discard') -}}
        </button>
        {% endblock %}
    </div>

    <div class="controls upload-file" style="display:none">
        {% block controls_upload_file  %}
        <span class="selected-file muted">A placeholder for the selected file</span>
        <button class="btn {{ (classes.buttons + classes.remove_buttons)|join(' ') }} remove-file" title="">
            <i class="icon-remove"></i> {{ _('Discard') -}}
        </button>
        {% endblock %}
    </div>

</div>

{% resource 'vendor/fileupload' %}
{% resource 'ckanext-publicamundi/upload' %}
