{% extends 'user/snippets/ingest_templates/ingest_base.html'%}

{% set resource_id = c.resource_id %}
{% set task_result = c.task_result %}
{% set gdal_driver = task_result.gdal_driver %}
{% set layers = task_result.layers %} 
{% set ingest_base_url= h.url_for('vector_ingest',resource_id =resource_id)%}

 
{% block ingest_content %}
<div data-module="vector-ingest" data-module-ingest_base_url="{{ingest_base_url}}" data-module-gdal_driver="{{gdal_driver}}" data-module-layers="{{h.dump_json(layers)}}">
	    
    {% if gdal_driver=="ESRI Shapefile" %}
	{% snippet 'user/snippets/ingest_templates/vector/shapefile.html', task_result=task_result%}
    
    {% else %}
	{% snippet 'user/snippets/ingest_templates/vector/sqlite_gpkg.html', task_result=task_result%}
    
    {#{% elif gdal_driver=="" %}
    
    {% elif gdal_driver=="" %}
    
    {% elif gdal_driver=="" %} #}
    
    {% endif %}
    </br>
    <button class="btn btn-success" id="ingest_button"> {{ _('Ingest') }}</button>
</div>
  
{% resource 'ckanext-vectorstorer/vector_ingest'%}
{% endblock %}

  
 