{% trans %}
<div class="about">

    <p><a href="http://labs.geodata.gov.gr">Labs.geodata.gov.gr</a> is a constant work in progress, where you can find early prototypes of software and services before their release in <a href="http://geodata.gov.gr">geodata.gov.gr</a>.</p>
<p>Feel free to publish, discover, reuse, visualize open geospatial data, and give us your feedback. Check the available features for publishing geospatial data (vector and raster), our powerful OGC web services, INSPIRE conformance, Data APIs, and Mapping APIs.</p>
<p> <a href="http://labs.geodata.gov.gr">Labs.geodata.gov.gr</a>is powered by great open source software developed in the context of PublicaMundi, an FP7 project aiming to make open geospatial data easier to publish and reuse. For more information, please visit</p>

<p><ul class="unstyled">
    <li>PublicaMundi: <a href="http://www.publicamundi.eu">www.publicamundi.eu</a></li>
    <li>Source code: <a href="https://github.com/PublicaMundi">github.com/PublicaMundi</a></li>
    </ul></p>
</div>
{% endtrans %}
