{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
      {% else %}
      <button id="promote-close" class="btn-dismiss" type="button">x</button>
      <h1 class="page-heading">{{ _("Open Data") }}</h1>
      <p>
        {% trans %}Here you will find data, tools, and resources to conduct research, develop web and mobile applications, design data visualizations, and more.{% endtrans %}
      </p>
    {% endif %}
  </header>
  <section class="featured media-overlay">
  <a href="about"><button class="btn bnt-primary">{{_('Learn More')}}</button></a>
  </section>
</div>
