
{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% set placeholder = _('Search Datasets') %}

      <div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <div class="searchfw search-input control-group search-giant">
      <div class="container">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
    </div>
  </form>
</div>
