
{%- macro mark_required(required, msg=None) -%}
   {%- if required -%}
   <span title="{{ msg or _("This field is required") }}" class="control-required">*</span>
   {%- endif -%}
{%- endmacro -%}

{%- macro message_list(messages, key=None, titles={}) -%}
    {% if messages -%}
    {% if key -%}
    <label data-key="{{ key }}" class="title">{{ titles.get(key, key|title) }}</label>
    {% endif -%}
    {% if messages is mapping -%}
    <ul>
        {% for k in messages -%}
        <li>{{ message_list(messages[k], k, titles) }}</li>
        {% endfor -%}
    </ul>
    {% elif messages is sequence -%}
    {% with n = messages|count %}
    {% if n <= 1 %}
    <span>{{ messages|first }}</span>
    {% else %}
    <ul>
        {% for msg in messages -%}
        <li>{{ msg }}</li>
        {% endfor -%}
    </ul>
    {% endif -%} {# if n #} 
    {% endwith %} {# with n #}
    {% endif -%} {# if mapping #}
    {% endif -%} {# if messages #}
{%- endmacro -%}

{% macro error_messages(errors, titles={}) -%}
    {% if errors -%}
    <div class="alert alert-error errors error-messages">
        {{ message_list(errors, key=None, titles=titles) }}
    </div>
    {% endif -%}
{% endmacro -%}

