
.icon-altitudes:before { content: '\e800'; } /* '' */
.icon-licence:before { content: '\e801'; } /* '' */
.icon-structure:before { content: '\e802'; } /* '' */
.icon-signup:before { content: '\e803'; } /* '' */
.icon-signin:before { content: '\e804'; } /* '' */
.icon-transportation:before { content: '\e805'; } /* '' */
.icon-structure-1:before { content: '\e806'; } /* '' */
.icon-biota:before { content: '\e807'; } /* '' */
.icon-boundaries:before { content: '\e808'; } /* '' */
.icon-cadastre:before { content: '\e809'; } /* '' */
.icon-climate:before { content: '\e80a'; } /* '' */
.icon-economy:before { content: '\e80b'; } /* '' */
.icon-environment:before { content: '\e80c'; } /* '' */
.icon-farming:before { content: '\e80d'; } /* '' */
.icon-geosciences:before { content: '\e80e'; } /* '' */
.icon-health:before { content: '\e80f'; } /* '' */
.icon-imagery-maps:before { content: '\e810'; } /* '' */
.icon-inland-waters:before { content: '\e811'; } /* '' */
.icon-location:before { content: '\e812'; } /* '' */
.icon-military-intelligence:before { content: '\e813'; } /* '' */
.icon-oceans:before { content: '\e814'; } /* '' */
.icon-society:before { content: '\e815'; } /* '' */