{% import 'macros/markup_helpers.html' as markup_helpers -%}

{% set 
    groups = {
        'longitude': [
            ('wblng', _('West Longitude')),
            ('eblng', _('East Longitude')),
        ],
        'latitude': [
            ('sblat', _('South Latitude')),
            ('nblat', _('North Latitude')),
        ]
    } 
-%}

<div class="control-group control-small {{ classes|join(' ') }}"
    data-module="input-geographic-bbox"
    data-module-qname="{{ qname }}"
 >
    {% if heading %}<header><h3 class="inline">{{ heading }}</h3></header>{% endif -%}
    <label class="control-label">
        {{- title }}{{ markup_helpers.mark_required(required) }}</label>
    <div class="controls ">
        {% for grp in ['longitude', 'latitude'] %}
        {% for key, placeholder in groups[grp] %}
        {% with field = obj.get_field(key) -%}
        <input type="number" name="{{ qname ~ '.' ~ key }}" id="input-{{ qname ~ '.' ~ key }}"
            value="{{ field.context.value|empty_and_escape }}" step="any" min="{{ field.min }}" max="{{ field.max }}"
            class="span2 inline-control"
            title="{{ field.context.title or field.title }}" 
            placeholder="{{ placeholder }}" 
         />
        <span class="space-x1"></span>
        {% endwith %} {# with field #}
        {% endfor %} {# for key, placeholder #}
        <p class="space"></p>
        {% endfor -%} {# for grp #}
        <a class="btn btn-small draw-bbox"><i class="icon-pencil"></i> {{ _('Draw') }}</a>
    </div>
</div>

{% resource 'ckanext-spatial/spatial_query' %} 
{% resource 'ckanext-publicamundi/geographic-bbox' %}
