{% set error = None -%}

<div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label">
        {% if required %}<span title="{{ _("This field is required") }}" class="control-required">*</span>{% endif -%}
        {{ title }}
    </label>
    <div class="controls">
        <div class="label label-info">Todo</div>
        {% if error and error is iterable %}
        <span class="error-block">{{ error | join(', ') }}</span>
        {% endif %}
    </div>
</div>
