{% if input_classes is not defined %}{% set input_classes = [ 'input-small' ] -%}{% endif -%}
{% set error = None -%}
{% set placeholder = '0.0' -%}

<div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label">
        {% if required %}<span title="{{ _("This field is required") }}" class="control-required">*</span>{% endif -%}
        {{ title }}
    </label>
    <div class="controls">
        <input 
            id="{{ 'input-' ~ qname ~ '.' ~ 'x' }}" 
            type="text" 
            name="{{ qname }}.x"
            class={{ input_classes | join(' ') }}
            value="{{ obj.x | empty_and_escape }}" 
            placeholder="{{ placeholder }}"  
        />
        <input 
            id="{{ 'input-' ~ qname ~ '.' ~ 'y' }}" 
            type="text" 
            name="{{ qname }}.y" 
            class={{ input_classes | join(' ') }}
            value="{{ obj.y | empty_and_escape }}" 
            placeholder="{{ placeholder }}"  
        />
        {% if error and error is iterable %}
        <span class="error-block">{{ error | join(', ') }}</span>
        {% endif %}
    </div>
</div>
