
[groups]

sld_editor =
    vendor/codemirror-4.3/lib/codemirror.css
    vendor/codemirror-4.3/lib/codemirror.js
    vendor/codemirror-4.3/mode/xml/xml.js
    js/modules/sld_editor.js

dialog =
   js/modules/export-dialog.js
   vendor/jquery-ui-autocomplete/jquery-ui.css
   css/vectorstorer.css

export =
    vendor/jquery-ui-autocomplete/jquery-ui.js
    vendor/jquery-ui-autocomplete/jquery-ui.css
    js/modules/export.js
  

styles=
   css/vectorstorer.css
vector_inject = 
   js/modules/vector-inject.js


