[depends]

[groups]

sld_editor =
    vendor/codemirror-4.3/lib/codemirror.css
    vendor/codemirror-4.3/lib/codemirror.js
    vendor/codemirror-4.3/mode/xml/xml.js
    js/modules/sld_editor.js

style_editor = 
   js/modules/style-editor.js
   vendor/codemirror-4.3/lib/codemirror.css
   vendor/codemirror-4.3/lib/codemirror.js
   vendor/codemirror-4.3/mode/xml/xml.js
   js/modules/sld_editor.js

dialog =
   js/modules/export-dialog.js
   vendor/jquery-ui-autocomplete/jquery-ui.css
   css/vectorstorer.css

export =
    js/modules/export.js

projection_autocomplete =   
    vendor/jquery-ui-autocomplete/jquery-ui.js
    js/modules/projection-autocomplete.js

encoding_autocomplete =   
    vendor/jquery-ui-autocomplete/jquery-ui.js
    
    js/modules/encoding-autocomplete.js

styles=
   css/vectorstorer.css
   vendor/jquery-ui-autocomplete/jquery-ui.css


vector_ingest = 
   vendor/jquery-validator/validate.js
   js/modules/vector-ingest.js



