{% set formats = [
            {'name':'csv', 
             'title': 'CSV',
             },
            {'name':'jpeg', 
             'title': 'JPEG',
             },
            {'name':'jpeg2000', 
             'title': 'JPEG2000',
             },
            {'name':'netcdf', 
             'title': 'NetCDF',
             },
            {'name':'png', 
             'title': 'PNG',
             },
            {'name':'tiff', 
             'title': 'TIFF',
             },]
             %}

{% if res.rasterstorer_resource and res.format in ['wcs'] %}
    {% if res.format == 'wcs' %}
        {% for format in formats %}
        <option value="{{format.name}}" data-resource-type="raster" data-resource-id="{{res.wcs_coverage}}" data-resource-format="{{format.name}}" href="#" target="_blank">{{format.title}}
        </option>
        {% endfor %}
        {% endif %} {# res.format #}
        {# {% resource 'ckanext-publicamundi-raster/raster_export' %} #}
{% endif %}
