{% if messages is not defined %}{% set messages = {} -%}{% endif -%}
{% if list_classes is not defined %}{% set list_classes = ['unstyled'] -%}{% endif -%}

<div class="{{ classes|join(' ') }}"
    data-module="edit-list-items" 
    data-module-qname="{{ qname }}"
    data-module-maxlength="{{ field.max_length }}" 
    data-module-messages="{{ h.dump_json(messages) }}"
   >
    {% if title %}<h3 class="title">{{ title }}</h3>{% endif -%}
    {%- if description %}<p class="description">{{ description }}</p>{% endif -%}

    <script type="x-template-mustache" id="{{ qname }}-item-template">
        {{ item_template.markup|safe }}
    </script>

    <ol id="{{ qname }}-items" class="{{ list_classes|join(' ') }}">
        {% for y in items -%}
        <li data-index="{{ loop.index0 }}">{{ y.markup }}</li>
        {%- endfor %}
    </ol>
</div>

{% resource 'ckanext-publicamundi/item-editor' %}

