{% import 'macros/markup_helpers.html' as markup_helpers -%}

{% set placeholder = placeholder or field.default -%}
{% if input_classes is not defined %}{% set input_classes = [ 'input-medium' ] %}{% endif -%}
{% set error = None -%}

<div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ 'input-' ~ qname }}">
        {{ title }}
        {% if required %}<span title="{{ _("This field is required") }}" class="control-required">*</span>{% endif -%}
    </label>
    <div class="controls">
        <div class="input-append datetime"
            data-module="datetimepicker" 
            data-module-picktime="true" data-module-pickdate="true" data-module-format="yyyy-MM-dd hh:mm:ss"
             >
            <input type="text" id="{{ 'input-' ~ qname }}"  name="{{ qname }}"
                class={{ input_classes | list | join(" ") }}
                value="{{ value | empty_and_escape }}" 
                placeholder="{{ placeholder | empty_and_escape }}"
            />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
        {% if error and error is iterable -%}
        <span class="error-block">{{ error | join(', ') }}</span>
        {% endif -%}
    </div>
</div>

{% resource 'ckanext-publicamundi/datetimepicker' %}
