{% import 'macros/markup_helpers.html' as markup_helpers -%}

{% if input_classes is not defined %}{% set input_classes = [ 'input-medium' ] %}{% endif -%}
{% set error = None -%}

<div class="control-group{{ " error" if error }}{{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ 'input-' ~ qname }}">
        {{ title }}{{ markup_helpers.mark_required(required) }}
    </label>
    <div class="controls">
        <input type="password" id="{{ 'input-' ~ qname }}"  name="{{ qname }}"
            class="{{ input_classes | list | join(" ") }}"
            data-check="#{{ 'input-' ~ qname ~ '-1' }}"
            {{ attrs | xmlattr -}}
        />
        <input type="password" id="{{ 'input-' ~ qname ~ '-1' }}"  name="{{ qname ~ '-1' }}"
            class="{{ input_classes | list | join(" ") }}"
        />
        {% if error and error is iterable -%}
        <span class="error-block">{{ error | join(', ') }}</span>
        {% endif -%}
    </div>
</div>
