{% set 
    messages = 
    {
        'add-label': 'Add',
    } 
-%}

<div class="{{ classes|join(' ') }}"
    data-module="edit-list-items" 
    data-module-qname="{{ qname }}" 
    data-module-messages="{{ h.dump_json(messages) }}"
   >
    {% if title %}<h3 class="title">{{ title }}</h3>{% endif -%}
    {%- if description %}<div class="description">{{ description }}</div>{% endif -%}

    <script type="x-template-mustache" id="{{ qname }}-item-template">
        {{ item_template.markup|safe }}
    </script>

    <ol id="{{ qname }}-items">
        {% for y in items -%}
        <li data-key="{{ loop.index0 }}">{{ y.markup }}</li>
        {%- endfor %}
    </ol>
</div>

{% resource 'ckanext-publicamundi/item-editor' %}
