{% import 'macros/markup_helpers.html' as markup_helpers -%}

{% set placeholder = placeholder or field.default -%}
{% set classes = classes + [ 'control-full' ] -%}

<div class="control-group{{ " " ~ classes | join(' ') }}">
    <label class="control-label" for="{{ 'input-' ~ qname }}">
        {{ title }}
        {% if required %}<span title="{{ _("This field is required") }}" class="control-required">*</span>{% endif %}
    </label>
    <div class="controls">
        <textarea id="{{ 'input-' ~ qname }}" name="{{ qname }}" class={{ input_classes | list | join(" ") }}
            placeholder="{{ placeholder | empty_and_escape }}"  
            {{ markup_helpers.attributes(attrs) -}}
          />{{ value | empty_and_escape }}</textarea>
        {% if description %}<div class="help-block">{{ description }}</div>{% endif %}
    </div>
</div>
