{% extends "style/base.html" %}
{% set res = c.resource %}
{% set pkg = c.pkg %}

{% set edit_current_url = h.url_for('edit_current_sld', id=pkg.name, resource_id=res.id) %} 

{% block style_content %}

 <div data-module="style-editor" data-module-edit_current_url="{{edit_current_url}}">
   {{self.style_nav_tabs()}}
   <div id="style-content"></div>
 </div>
 
 {% resource 'ckanext-publicamundi-vector/style_editor' %}
{% endblock %}

{% block style_nav_tabs %}
 <ul class="nav nav-tabs">
   <li id="edit-current-style-tab">
     <a href="javascript:;" id="edit-current-style"> <i class="icon-list"></i>{{_('Edit Current Style')}}</a>
   </li>
  <!-- <li id="upload-sld-file-tab">
     <a href="javascript:;" id="upload-sld-file"> <i class="icon-list"></i>{{_('Upload SLD')}}</a>-->
   </li>
 </ul>
{% endblock %}
