{% set default_srs = 'epsg:2100' %}
{% set srs_types = [
                {'title': _('Web Mercator (EPSG:3857)'),
                'value': 'epsg:3857'},
                {'title': _('WGS84 (EPSG:4326)'),
                'value': 'epsg:4326'},
                {'title': _('ΕΓΣΑ87 (EPSG:2100)'),
                'value': 'epsg:2100'},
                {'title': _('ETRS89 (EPSG:4258)'),
                'value': 'epsg:4258'},
                ]
                %}

{% set raster_resources = h.get_ingested_from_vector_resource(pkg,res) %}

{% resource 'ckanext-publicamundi/download_options' %}

<div class="modal hide no-fade" id="download_options-{{res.id}}" tabindex="-1" aria-hidden="true" > 
    {% block download_options_header %}
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>{{_('Download options:')}} {{ res.name or pkg.title+' ('+res.format+')'}}</h3>
    </div>
    {% endblock %}
        {% block download_options_body %}
        <div class="modal-body form-horizontal"> 
            <div class="control-group control-select control-format_type">
                <label class="control-label" for="field-format_type">
                {{ _('Format') }}</label>
                <div class="controls ">      
                    <select  class="input-xlarge" id="field-format_type" name="format_type" 
                        data-module="doesntwork-input-select2">
                        {% block download_options_items %}
                            {# Placeholder for vector/raster storers to fill in download links #}
                        {% endblock %}
                    </select>
                    {% if verbose|default(true) and description %}
                    <p class="help-block">{{ description }}</p>
                    {% endif %}
                    </div>
            </div>

            <div class="control-group control-srs_type">
                <label class="control-label" for="field-srs_type">
                {{ _('SRS') }}</label>
                <div class="controls ">      
                    <select class="input-xlarge" id="field-srs_type" name="srs_type" 
                        data-module="doesnt-work-input-select2">
                      {%- for srs in srs_types %} 
                        <option value="{{ srs.value }}" 
                            {%- if srs.value == default_srs %} selected="selected"{% endif %}>{{ srs.title }}</option>
                            {% endfor -%} 
                    </select>
                    {% if verbose|default(true) and description %}
                    <p class="help-block">{{ description }}</p>
                    {% endif %}
                    </div>
                </div>
        </div>
        {% endblock %}
        {% block download_options_footer %}
        <div class="modal-footer">
        <a class="btn btn-cancel" data-dismiss="modal">{{_('Cancel')}}</a>
        {% block download_options_footer_download %}
        <a class="btn btn-primary" name="download">{{_('Download')}}</a>
        {% endblock %}
        </div>
        {% endblock %}
</div> 

