{% import 'macros/form.html' as form %}

{{
    form.select('foo.thematic_category', 
        id = 'field-foo.thematic_category',
        label = _('Foo/Category'),
        options = [
            { 'value': 'economy', 'text': 'Economy' },
            { 'value': 'health', 'text': 'Health' },
            { 'value': 'environment', 'text': 'Environment' },
            { 'value': 'government', 'text': 'Government' },
        ], 
        selected = foo.thematic_category | default('economy'), 
        attrs = { 
            'data-module': 'input-select2',
        }) 
}}

{{ 
    form.input('foo.baz', 
        label=_('Foo/Baz'), 
        id='field-foo.baz', 
        placeholder=_('a wonderfull thing'), 
        value=foo.baz, 
        error=errors.get('foo.baz'), 
        classes=['control-medium'])
}}

{{ 
    form.input('foo.rating',
        type='number',
        label=_('Foo/Rating'), 
        id='field-foo.rating', 
        placeholder=_('5'), 
        value=foo.rating, 
        error=errors.get('foo.rating'), 
        classes=['control-small'],
        attrs={ 'class':'span2'})
}}

{{ 
    form.input('foo.grade',
        type='number',
        label=_('Foo/Grade'), 
        id='field-foo.grade', 
        placeholder=_('0.0'), 
        value=foo.grade, 
        error=errors.get('foo.grade'), 
        classes=['control-small'],
        attrs={ 'class':'span2', 'step': 'any'})
}}

{{
    form.checkbox('foo.reviewed',
        label=_('Foo/Reviewed'), 
        id='field-foo.reviewed',
        checked=foo.reviewed,
        value='yes',
        error=errors.get('foo.reviewed'), 
        classes=['control-small'])
}}

{% set temporal_extent = foo.temporal_extent or {} %} 

<div class="control-group ">
    <label class="control-label">Foo/T-Extent</label>
    <div class="controls">
       <input type="text" 
           class="input-small"
           title="{{ _('Start Date') }}"
           placeholder="{{ _('Start Date') }}" 
           value="{{ temporal_extent.start | empty_and_escape }}" 
           name="foo.temporal_extent.start" 
           id="input-foo.temporal_extent.start"
           data-module="datepicker"
           data-module-format="yyyy-mm-dd"
        >
       &nbsp; 
       <input type="text" 
           class="input-small"
           title="{{ _('End Date') }}"
           placeholder="{{ _('End Date') }}" 
           value="{{ temporal_extent.end | empty_and_escape }}" 
           name="foo.temporal_extent.end" 
           id="input-foo.temporal_extent.end"
           data-module="datepicker"
           data-module-format="yyyy-mm-dd"
        >
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="input-foo.created">{{ _('Foo/Created') }}</label>
    <div class="controls">
        <div class="input-append datetime"
            data-module="datetimepicker" 
            data-module-picktime="true" data-module-pickdate="true" data-module-format="yyyy-MM-dd hh:mm:ss">
            <input type="text" id="input-foo.created"  name="foo.created"
                class="input-medium"
                value="{{ foo.created | empty_and_escape }}" />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </div>
</div>

{% resource 'ckanext-publicamundi/datepicker' %}
{% resource 'ckanext-publicamundi/datetimepicker' %}
