{% import 'macros/form.html' as form %}

{{ 
    form.input('foo.baz', 
        label=_('Foo/Baz'), 
        id='field-foo.baz', 
        placeholder=_('a wonderfull thing'), 
        value=data.get('foo.baz'), 
        error=errors.get('foo.baz'), 
        classes=['control-medium'])
}}
{{ 
    form.input('foo.rating', 
        label=_('Foo/Rating'), 
        id='field-foo.rating', 
        placeholder=_('5'), 
        value=data.get('foo.rating'), 
        error=errors.get('foo.rating'), 
        classes=['control-small'])
}}

<div class="control-group ">
    <label class="control-label">Foo/T-Extent</label>
    <div class="controls">
       <input type="text" 
           class="input-small"
           title="{{ _('Start Date') }}"
           placeholder="{{ _('Start Date') }}" 
           value="{{ data.get('foo.temporal_extent.start') | empty_and_escape }}" 
           name="foo.temporal_extent.start" 
           id="input-foo.temporal_extent.start"
           data-module="datepicker"
           data-module-format="yyyy-mm-dd"
        >
       &nbsp; 
       <input type="text" 
           class="input-small"
           title="{{ _('End Date') }}"
           placeholder="{{ _('End Date') }}" 
           value="{{ data.get('foo.temporal_extent.end') | empty_and_escape }}" 
           name="foo.temporal_extent.end" 
           id="input-foo.temporal_extent.end"
           data-module="datepicker"
           data-module-format="yyyy-mm-dd"
        >
    </div>
</div>

<div class="control-group">
    <label class="control-label" for="input-foo.created">{{ _('Foo/Created') }}</label>
    <div class="controls">
        <div class="input-append datetime"
            data-module="datetimepicker" 
            data-module-picktime="true" data-module-pickdate="true" data-module-format="yyyy-MM-dd hh:mm:ss">
            <input type="text" id="input-foo.created"  name="foo.created"
                class="input-medium"
                value="{{ data.get('foo.created') }}" />
            <span class="add-on">
              <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
            </span>
        </div>
    </div>
</div>

{% resource 'ckanext-publicamundi/datepicker' %}
{% resource 'ckanext-publicamundi/datetimepicker' %}
