{% import 'macros/form.html' as form %}

{% set inspire = data.get('inspire', {}) %}

{{
     form.input('inspire.datestamp', 
        label=_('Inspire/Date'), 
        id='field-inspire.datestamp', 
        placeholder=_('YYYY-MM-DD'), 
        value=inspire.datestamp, 
        error=errors.get('inspire.datestamp'), 
        classes=['control-small'],        
        attrs = { 'data-module': 'datepicker', 'data-module-format': 'yyyy-mm-dd' }) 
}}

{{ 
    form.select('inspire.languagecode', 
        label = _('Inspire/Lang'), 
        options = [ 
            {'text': 'English', 'value': 'en'}, 
            {'text': 'Greek', 'value': 'el'}, 
            {'text': 'Romanian', 'value': 'ro'}, 
        ], 
        selected = inspire.languagecode, 
        attrs = { 'data-module': 'no-autocomplete' }) 
}}

{% for i in range(2) %}
{{
    form.input('inspire.identifier.' ~ i, 
        label=_('Inspire/Id #' ~ (i+1)), 
        id='field-inspire.identifier.' ~ i, 
        value=inspire.identifier[i], 
        error=errors.get('inspire.identifier,' ~ i), 
        classes=['control-small'])
}}
{% endfor %}

{% resource 'ckanext-publicamundi/datepicker' %}
