{% ckan_extends %}

{% import "macros/form.html" as form %}

{# Note: 
 Remove 'free extras' from the package form. If you're using convert_{to/from}_extras() as we are 
 with our 'music_description' field below then you need to remove free extras from the form, or editing 
 your custom field won't work!! 
#}

{% block custom_fields %}
{% endblock %}


{% block package_metadata_fields %}
 
  
  {% if data.get('state') == 'draft' %}
  {{ form.select('dataset_type', 
        label = _('Dataset Type'), 
        options = h.dataset_type_options(), 
        selected = data.get('dataset_type', 'ckan'), 
        attrs = { 'data-module': 'no-autocomplete' }) 
  }}
  {% else %}
  {{ form.hidden('dataset_type', data.get('dataset_type')) }}
  <div><dt>Dataset Type:</dt><dd>{{ data.get('dataset_type') }}</dd></div>
  {% endif %}
  
  
  {{ form.input('baz', 
        label=_('Baz'), 
        id='field-baz', 
        placeholder=_('a wonderfull thing'), 
        value=data.get('baz'), 
        error=errors.get('baz'), 
        classes=['control-medium']) 
  }}
   
  {{ form.input('foo.0.baz', 
        label=_('Foo/Baz'), 
        id='field-foo.0.baz', 
        placeholder=_('a wonderfull thing'), 
        value=data.get('foo.0.baz'), 
        error=errors.get('foo.0.baz'), 
        classes=['control-medium']) 
  }}
 



  {#
  {% set music_genres = data.get('foo', [None]) %}
  {{ form.select('foo', 
        label = _('Foo'), 
        options = h.foo_options(), 
        selected = foo.0, 
        attrs = { 'data-module': 'no-autocomplete' }) 
  }}
  #}
  
  {{ super() }}

{% endblock %}
