{% import "macros/form.html" as form %}
{% import "macros/markup_helpers.html" as markup_helpers %}

{%- set data = data or {} %}
{%- set errors = errors or {} %}

<form id="package-form" class="dataset-form dataset-resource-form form-horizontal" method="post" data-module="basic-form">
  {{ h.snippet('package/snippets/stages.html', stages=['complete', 'complete', 'active'], pkg_name=pkg_name) }}
  
  {% block errors %}
  {{ markup_helpers.error_messages(errors) }}
  {% endblock %}

  {% block package_fields_autofill %}
  <button class="btn btn-warning hide" data-module="package-form-autofiller" data-module-formid="package-form">Auto</button>
  {% resource 'ckanext-publicamundi/package-form-autofiller'  %}
  {% endblock %} {# package_basic_autofill #}

  {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors, groups_available=groups_available %}

  <div class="form-actions">
    <button id="btn-save-go-resources" class="btn" name="save" value="go-resources" type="submit">{{ _('Previous') }}</button>
    <button id="btn-save-finish" class="btn btn-primary" name="save" value="finish" type="submit">{{ _('Finish') }}</button>
  </div>

</form>
