<section class="additional-info">
  
  {%- with 
      obj = pkg_dict.get(pkg_dict.dataset_type),
      dtspec = h.dataset_types().get(pkg_dict.dataset_type)
  -%}
  {%- if obj -%}
  <header>
    <h3 class="inline">{{ 'Metadata' }}</h3>
    
    {% with api_controller = 'ckanext.publicamundi.controllers.api:Controller' %}
    <div class="btn-group pull-right">
      <a class="btn" href="{{ h.url_for(controller=api_controller, action='dataset_export', name_or_id=pkg_dict.name) }}"
        >{{ _('Download as') }}</a>
      <button class="btn dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
      <ul class="dropdown-menu">
        <li>
          <a href="{{ h.url_for(controller=api_controller, action='dataset_export', name_or_id=pkg_dict.name) }}"
            >{{ _('XML Metadata') }}</a></li>
        <li>
          <a href="{{ h.url_for('/api/action/dataset_show', id=pkg_dict.name) }}"
            >{{ _('JSON Metadata') }}</a></li>
      </ul>
    </div>
    {% endwith %} {# api_controller #}

  </header>

  {% with 
     data = { 
        'max_depth': 2,
        'extras': [
            {
                'title': _('State'),
                'value': pkg_dict.state,
                'attrs': {},
            },
            {
                'title': _('Source'), 
                'value': h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') if pkg_dict.url else none, 
                'attrs': { 'property': 'foaf:homepage' },  
            },
            { 
                'title': _('Author'), 
                'value': pkg_dict.author, 
                'attrs': { 'property': 'dc:creator' },  
            },
            {
                'title': _('Author Email'), 
                'value': h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author_email) if pkg_dict.author_email else none, 
                'attrs': { 'property': 'dc:creator' },  
            },
            {
                'title': _('Maintainer'), 
                'value': pkg_dict.maintainer, 
                'attrs': { 'property': 'dc:contributor' },  
            },
            {
                'title': _('Maintainer Email'), 
                'value': h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer_email) if pkg_dict.maintainer_email else none, 
                'attrs': { 'property': 'dc:contributor' },  
            },
            {
                'title': _('Version'),
                'value': pkg_dict.version,
                'attrs': {},  
            },
        ] 
     } 
  %}
  {{ h.markup_for('read:table', obj, errors=none, name_prefix='', data=data) }}
  {% endwith %}

  {%- endif -%} {# if obj #}
  {%- endwith -%} {# obj, dtspec #}

</section>

