{% import 'macros/form.html' as form %}

{% set is_new = data.get('id') is none %}
{% set is_draft = data.get('state', 'draft') == 'draft' %}

{% block package_basic_fields_dataset_type %}

{% snippet 'package/snippets/edit-dataset_type.html', 
    data=data, is_new=is_new, is_draft=is_draft,
    description=_('Specify the metadata schema the dataset aligns to.')
%}

{% endblock %} {# package_basic_fields_dataset_type #}

{% block package_basic_fields_title %}
  
{{ 
    form.input('title', 
        id = 'field-title', 
        label = _('Title'), 
        placeholder = _('eg. A descriptive title'), 
        value = data.title, 
        error = errors.title, 
        classes = ['control-full', 'control-medium'], 
        attrs = { 'data-module': 'slug-preview-target' }
    ) 
}}

{% endblock %} {# package_basic_fields_title #}

{% block package_basic_fields_url %}
  
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'} %}
{{ 
    form.prepend('name', 
        id = 'field-name', 
        label = _('Locator (URL)'), 
        prepend = prefix, 
        placeholder = _('eg. visitor-stats-2014b'), 
        value = data.name, 
        error = errors.name, 
        attrs = attrs, 
        is_required = true
    ) 
}}

{#{% resource 'ckanext-publicamundi/show-dataset-name' %}#} {# Force `name` input to be always visible #}

{% endblock %} {# package_basic_fields_url #}

{% block package_basic_fields_description %}

{{ 
    form.markdown('notes', 
        id = 'field-notes', 
        label = _('Description'), 
        placeholder = _('eg. Some useful notes about the data'), 
        value = data.notes, 
        error = errors.notes
    )        
}}

{% endblock %} {# package_basic_fields_description #}

{% block package_basic_fields_tags %}

{% with tag_attrs = {
    'data-module': 'autocomplete', 
    'data-module-tags': '', 
    'data-module-source': '/api/2/util/tag/autocomplete?incomplete=?'} 
%}
{{ 
    form.input('tag_string', 
        id = 'field-tags', 
        label = _('Tags'), 
        placeholder = _('eg. economy, mental health, government'), 
        value = data.tag_string, 
        error = errors.tags, 
        classes = ['control-full'], 
        attrs = tag_attrs) 
}}
{% endwith %}

{% endblock %}

{% block package_basic_fields_license %}

<div class="control-group">
  {% set error = errors.license_id %}
  <label class="control-label" for="field-license">{{ _("License") }}</label>
  <div class="controls">
    <select id="field-license" name="license_id" data-module="autocomplete" class="input-xlarge">
      {% for license_desc, license_id in licenses|sort if license_desc  %}
        <option value="{{ license_id }}" {% if data.get('license_id', 'notspecified') == license_id %}selected="selected"{% endif %}>{{ license_desc }}</option>
      {% endfor %}
    </select>
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    
    <span class="info-block info-inline">
      {#<i class="icon-info-sign"></i>#}
      {% trans %}License definitions at <a href="http://opendefinition.org/licenses/">opendefinition.org</a>{% endtrans %}
    </span>
    
  </div>
</div>

{% endblock %}

{% block package_basic_fields_org %}

{# if we have a default group then this wants remembering #}
{% if data.group_id %}
<input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

{% if h.check_access('sysadmin') or is_new or is_draft %}
{% snippet 'package/snippets/edit-organization.html', 
    name = 'owner_org', 
    value = data.owner_org,
    required = false,
    orgs_available = h.organizations_available('create_dataset')
%}
{% endif %}

{% endblock %}
