{% ckan_extends %}

{#

Add widgets for our basic extension-specific fields

#}

{% block package_basic_fields_custom %}

  {% set dataset_type = data.get('dataset_type', 'ckan') %}
  {{ form.select('dataset_type', 
        label = _('Dataset Type'), 
        options = h.dataset_type_options(), 
        selected = dataset_type, 
        attrs = { 'data-module': 'no-autocomplete' }) 
  }}

  {#
  {{ form.input('baz', 
        label=_('Baz'), id='field-baz', 
        placeholder=_('a wonderfull thing'), 
        value=data.get('baz'), 
        error=errors.get('baz'), 
        classes=['control-medium']) 
  }}
  #}

{% endblock %}

{#

Override the default widget provided for selecting an organization

#}

{% block package_basic_fields_org %}

{% if data.group_id %}
<input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
{% endif %}

{% set existing_org = data.owner_org or data.group_id %}
{% if h.check_access('sysadmin') or data.get('state', 'draft').startswith('draft') or data.get('state', 'none') ==  'none' %}
{% set organizations_available      = h.organizations_available('create_dataset') %}
{% set organizations_available_objs = h.organization_dict_objects(organizations_available) %}
{% if organizations_available %}
<div class="control-group">
    <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
    <div class="controls">
        <select id="field-organizations" name="owner_org" data-module="autocomplete" class="input-xlarge">
            <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('Select an organization...') }}</option>
            {% for org in organizations_available %}
            {# Select the 1st org from users list only if there is not an existing org #}
            {% set selected_org = (existing_org and existing_org == org.id) or (not existing_org and not data.id and org.id == organizations_available[0].id) %}
            {% set org_obj = organizations_available_objs.get(org.name) %}
                <option value="{{ org.id }}" {% if selected_org %} selected="selected" {% endif %}>{{ org_obj.get('display_name') }}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}
{% endif %}

{#
<script type="text/javascript">
var organizations_available = {{ h.dump_json(organizations_available)|safe }};
var organizations_available_objs = {{ h.dump_json(organizations_available_objs)|safe }};
</script>
#}

{% endblock %}
