{% import 'macros/form.html' as form %}

{% block package_metadata_fields %}

{% block package_metadata_fields_url %}
{# Note: 
   The following is not really needed since we give the user the option to import
   an allready existing metadata file (in a dedicated form)
#}
{#
{{ 
    form.input(
        'url', 
        label=_('Source'), 
        id='field-url', 
        placeholder=_('http://example.com/dataset.json'), 
        value=data.url, 
        error=errors.url, 
        classes=['control-medium']) 
}}
#}
{% endblock %} {# package_metadata_fields_url #}

{% block package_metadata_fields_version %}
{{ 
    form.input(
        'version', 
        label=_('Version'), 
        id='field-version', 
        placeholder=_('1.0'), 
        value=(data.version or '0.1'), 
        error=errors.version, 
        classes=['control-small']) 
}}
{% endblock %} {# package_metadata_fields_version #}

{% block package_metadata_author %}
{{ 
    form.input(
        'author', 
        label=_('Author'), 
        id='field-author', 
        placeholder=_('Joe Bloggs'), 
        value=data.author, 
        error=errors.author, 
        classes=['control-medium'])         
}}
{{ 
    form.input(
        'author_email', 
        label=_('Author Email'), 
        id='field-author-email', 
        placeholder=_('joe@example.com'), 
        value=data.author_email, 
        error=errors.author_email, 
        classes=['control-medium']) 
}} 
{% endblock %} {# package_metadata_author #}

{% block package_metadata_fields_maintainer %}
{{ 
    form.input(
        'maintainer', 
        label=_('Maintainer'), 
        id='field-maintainer', 
        placeholder=_('Joe Bloggs'), 
        value=data.maintainer, 
        error=errors.maintainer, 
        classes=['control-medium']) 
}}
{{ 
    form.input(
        'maintainer_email', 
        label=_('Maintainer Email'), 
        id='field-maintainer-email', 
        placeholder=_('joe@example.com'), 
        value=data.maintainer_email, 
        error=errors.maintainer_email, 
        classes=['control-medium']) 
}}
{% endblock %} {# package_metadata_fields_maintainer #}

{% block package_metadata_fields_custom %}
{# Note: 
  Remove free extras from the package form. We are using convert_{to/from}_extras(),
  so we need to remove free extras from the form (or editing breaks!)   
#}
{% block custom_fields %}
{# {% snippet 'snippets/custom_form_fields.html', extras=data.extras, errors=errors, limit=3 %} #}
{% endblock %}
{% endblock %} {# package_metadata_fields_custom #}

{% block dataset_fields %}

{%- set is_draft = data.get('state', 'draft') == 'draft' -%}

{% set dt = data.get('dataset_type') -%}
{% set dt_prefix = dt -%}
{% set obj = data.get(dt_prefix) or h.make_metadata_object(dt) -%}

{# A workaround for bug #36 #}
{% if is_draft -%}
{{ form.hidden('dataset_type', dt) }} 
{% endif -%}

{% if errors -%}
{% set loader_opts = {
     'update': 'deep', 
     'unserialize-keys': true, 
     'key-prefix': dt_prefix, 
     'unserialize-values': 'default', 
   } 
%}
{% do obj.from_dict(data, is_flat=true, opts=loader_opts) %}
{% endif -%} {# if errors #}

{{ 
    h.markup_for('edit:datasetform', obj, 
        errors=errors, 
        name_prefix=dt_prefix, 
        data={ 'pkg_dict': data }) 
}}

{% endblock %} {# dataset_fields #}

{% endblock %} {# package_metadata_fields #}
