{% import 'macros/form.html' as form %}
{% import 'macros/markup_helpers.html' as markup_helpers %}

{% set action = c.form_action or '' %}

{# This provides a full page that renders a form for adding a dataset. It can
then itself be extended to add/remove blocks of functionality. #}
<form id="package-form" class="dataset-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form">
  
  {% block stages %}
  {{ h.snippet('package/snippets/stages.html', stages=stage) }}
  {% endblock %}

  <input type="hidden" name="_ckan_phase" value="dataset_new_1" />
  {# pkg_name used in 3 stage edit #}
  <input type="hidden" name="pkg_name" value="{{ data.id }}" />

  {% block errors %}
  {# Note CKAN is using error_summary here (?) #}
  {{ markup_helpers.error_messages(errors) }}
  {% endblock %} {# errors #}
  
  {% if h.is_multilingual_dataset %}
  <input type="hidden" name="language" value="{{ data.language|default('') }}" />
  {% endif %}

  {% block warnings %}
  {% if h.is_multilingual_dataset and data.language and (c.target_language != data.language) %}
  <div class="alert">
    {% with translate_url = h.url_for(controller='package', action='read', id=data.id, locale=data.language) %} {# Todo #}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Warning!</strong><br/>
    <span>You are about to edit metadata given in a source language ({{data.language|upper}}) different
    than your active language ({{c.target_language|upper}}).
    If instead, you just want to translate, go <a href="{{translate_url}}">here</a>.</span>
    {% endwith %}
  </div>
  {% endif %}
  {% endblock %} {# warnings #}

  {% block package_fields_autofill %}
  {% if h.debug() %}{% snippet 'package/snippets/form-autofiller.html', form_id='package-form' %}{% endif %}
  {% endblock %}

  {% block basic_fields %}
  {% snippet 'package/snippets/package_basic_fields.html', 
      data=data, errors=errors, licenses=c.licenses, groups_available=c.groups_available 
  %}
  {% endblock %}

  {% block metadata_fields %}
  {% snippet 'package/snippets/package_metadata_fields.html', data=data, errors=errors %}
  {% endblock %}

  {% block form_actions %}
  <div class="form-actions">
      {% block disclaimer %}
      <p class="action-info small">
          {%- trans -%}
          Important: By submitting content, you agree to release your contributions under the Open Database License.
          {%- endtrans -%}
      </p>
      {% endblock %}
      
      {% block delete_button %}
      {% if h.check_access('package_delete', {'id': data.id}) and not data.state == 'deleted' %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this dataset?')}) %}
          <a class="btn btn-danger pull-left" 
              href="{% url_for controller='package', action='delete', id=data.id %}" 
              data-module="confirm-action" 
              data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
      {% endif %}
      {% endblock %}
      <button class="btn btn-primary" type="submit" name="save">{% block save_button_text %}{{ _('Next: Add Data') }}{% endblock %}</button>
      {{ form.required_message() }}
  </div>
  {% endblock %}
</form>
