{% set can_edit = h.check_access('package_update', {'id':pkg.id }) %}
{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{% set raster_resources = h.get_ingested_raster(pkg,res) %}
{% set vector_resources = h.get_ingested_vector(pkg,res) %}

{# {% resource 'ckanext-publicamundi/download_as_options' %} #}
<li class="resource-item clearfix" data-id="{{ res.id }}">
    {% block resource_item_header %}
    <header>
        {% block resource_item_title %}
        <a class="heading inline" href="{{ url }}" title="{{ res.name or res.description }}">
            {% if h.can_preview_resource_or_ingested(pkg, res) %}
                <i class="icon-eye-open"></i>
                {% else %}
                <i class="icon-info-sign"></i>
                {% endif %}
            {{ h.resource_display_name(res)|truncate(50) }} 
            <span class="format-label" 
                property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
            {{ h.popular('views', res.tracking_summary.total, min=10) }}
        </a>
        {% endblock %} {# resource_item_title #}
        <div class="resource-action-buttons">
        {% block resource_item_explore %}
        {% if not url_is_edit %}
        {#  {% if can_edit %} #}
           <!-- <div class="action-button"><a class="btn" href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
                      <i class="icon-edit"></i> {{ _('Edit') }}
              </a></div> -->
              {#   {% endif %} #}
        {% if res.resource_type == 'file' %}
            {% block resource_item_file %}
                {# Placeholder for extra data/resources buttons #} 
            {% endblock %}
            
            <div class="newline-action action-button btn-group pull-right">
                <a class="btn btn-primary resource-url-analytics" href="{{ res.url }}"
                    ><i class="icon-download"></i> {{ _('Download') }}</a>
            {% if raster_resources|length>0 or vector_resources|length>0 %}
            <a class="btn btn-primary dropdown-toggle" data-toggle="modal" data-module-id={{res.id}} data-target="#download_options-{{res.id}}" data-module="download_options_dialog" >
                <span class="icon-reorder"></span>
            </a>
            {% snippet 'package/snippets/download_options.html', pkg=pkg, res=res %}

            {% endif %}
        </div>

        {% elif res.resource_type == 'api' %}
            {% block resource_item_service %}
                {# Placeholder for extra service buttons #} 
            {% endblock %}

            <div class="action-button">            
                <a href="{{ res.url }}" class="btn resource-url-analytics" target="_blank">
                                    <i class="icon-beaker"></i>
                                        {{ _('Endpoint') }}
                                    </a>
            </div>

        {% endif %}
                
        {% endif %} {# url_is_edit #}

        {% endblock %} {# resource_item_explore #}
        </div> {# resource-action-buttons #}
    </header>
    {% endblock %} {# resource_item_header #}

    {% block resource_item_description %}
    <p class="description">
        {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=120) -}}
        {% else %}
        <i>{{ _('No description') }}</i>
        {% endif %}
    </p>
    {% endblock %} {# resource_item_description #}


    
