{% extends 'tests/base.html' %}

{% block scripts %}

{{ super() }}

<style>
    form > h3 { margin-top: 20px; color: #777}
    form > h3 > code { font-size: inherit }
</style>

{% endblock %}

{% block primary_content_inner %}

<form method="post" class="{{ c.form_class }}">
    {% if c.form_errors %}
    <div class="alert alert-error">
        <strong>Ooops!</strong> The form contains errors!
    </div>
    <pre>{{ c.form_errors|pprint }}</pre>
    {% endif %}
    {{ c.form_markup }}
    <input type="submit" name="submit" />
</form>

{% endblock %}


