<li>
    <a href="{{ h.url_for(controller='package', action='search')}}">{{_('Datasets')}}</a>
</li>
<li>
    <a href="{{ h.url_for(controller='group', action='index')}}">{{_('Topics')}}</a>
</li>
<li>
    <a href="{{ h.url_for(controller='organization', action='index')}}">{{_('Organizations')}}</a>
</li>
<li>
<a href="{{ h.get_maps_url() }}">{{_('Maps')}}</a>
</li>
<li>
<a href="{{ h.url_for(controller='ckanext.publicamundi.themes.geodata.controllers.static:Controller', action='applications')}}">{{_('Apps')}}</a>
</li>
<li>
<a href="{{ h.get_news_url() }}">{{_('News')}}</a>
</li>
<li>
    <a href="{{ h.url_for(controller='home', action='about')}}">{{_('About')}}</a>
</li>



