{% ckan_extends %}


{% block download_options_items %}    
{% set vector_resources = h.get_ingested_vector_from_resource(pkg,res) %}
{{ super() }}
    {% for vector_res in vector_resources %}
        {% if vector_res.vectorstorer_resource and vector_res.format in ['wfs'] %}
        {% if vector_res.format == 'wfs' %}
            {% for fmt in h.vectorstorer_wfs_output_formats() %}
            <option value="{{fmt.name}}"  data-resource-type="vector" data-wfs_server="{{vector_res.wfs_server}}" data-wfs_layer="{{vector_res.wfs_layer}}" data-fmt_name="{{fmt.name}}">
               {{ fmt.display_name|safe }}
            </option>
            {% endfor %}
        {% endif %} {# res.format #}
        {% endif %}
    {% endfor %}
{% endblock %}
