{% ckan_extends %}

{% block resource_item_file %}
{{ super()}}

{% set vector_resources = h.get_ingested_vector_from_resource(pkg,res) %}
    {% for vector_res in vector_resources %}
        {% if vector_res.format == 'wms' %}
        <div class="action-button"><a class="btn" href={{ "/maps/" + vector_res.id}} >
                    <i class="icon-medium icon-globe"></i>{{ _(' Map')}}
                </a>
        </div>
        {% endif %}
    {% if vector_res.format == 'wfs' %}
    {% with tab_res = h.vectorstorer_table_resource(pkg, vector_res) %}
    {% if tab_res %}
    <div class="action-button">  
        <a class="btn" href="{{ h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=tab_res.id) }}">
            <i class="icon-table"></i> {{ _('Table') }}</a>
    </div>
    {% endif %}
    {% endwith %}
    {% endif %}
    {% endfor %}

{% endblock %}

{% block resource_item_service %}
{{ super() }}
{% endblock %}
