{% set geoserver_export_formats = [
    {'display_name': 'CSV', 'name': 'csv'},
    {'display_name': 'GML2', 'name': 'GML2'},
    {'display_name': 'GeoJSON', 'name': 'application/json'},
    {'display_name': 'KML', 'name': 'application/vnd.google-earth.kml+xml'},
    {'display_name': 'Shapefile', 'name': 'SHAPE-ZIP'}]
%}

{# Convert to string so that url_for() doesnt get confused -#}
{% set wfs_server = res.wfs_server.encode('ascii') -%}
{% set layer = res.wfs_layer.encode('ascii') -%}

<a href="#" class="btn dropdown-toggle" data-toggle="dropdown"
    ><i class="icon-share-alt"></i> {{ _('Export') }} <span class="caret"></span></a>
<ul class="dropdown-menu">
    {% for fmt in geoserver_export_formats %}
    <li>
       {# Use h.url_for() on a absolute URL just to get parameters properly encoded -#}
       <a href="{{ h.url_for(wfs_server, service='WFS', version='1.0.0', request='GetFeature', typeName=layer, outputFormat=fmt.name) }}">
          {{ fmt.display_name }}</a>
    </li>
    {% endfor %}
</ul>
