{% set sorting_status_list =[
    {'display_name': _('Publish Failed'), 'get_param': 'publish-failed'},
    {'display_name': _('Published'), 'get_param': 'published'},
    {'display_name': _('Identified'), 'get_param': 'identified'},
    {'display_name': _('Identify Failed'), 'get_param': 'identify-failed'},
    {'display_name': _('Rejected'), 'get_param': 'rejected'},
    ] %}

{% set sorting_storer_type_list =[
    {'display_name': _('Vector'), 'get_param': 'vector'},
    {'display_name': _('Raster'), 'get_param': 'raster'},
    ] %}


<div class="filter-buttons">
  <div id="storer_type_filter" class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-filter"></i>
    <span class="facet">{{_('Type')}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
        <a href="{{h.remove_get_param(request.url,'storer_type') }}"  title="Remove"><span></span> {{_('All types')}}</a>
        </li>

        {% for sorting_storer_type in sorting_storer_type_list%}
         <li>
          <a  href="{{h.add_get_param(request.url, 'storer_type',sorting_storer_type['get_param'] )}}"> 
               {{ sorting_storer_type['display_name'] }}
           </a>
         </li>
       {% endfor %}
    </ul>
  </div>

   <div id="status_filter" class="btn-group">
  <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
    <i class="icon-filter"></i>
    <span class="facet">{{_('Status')}}</span>
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li>
        <a href="{{h.remove_get_param(request.url,'status') }}">
            <span class="label" data-resource-status="all" title="Remove">&nbsp;&nbsp;&nbsp;</span> {{_('All statuses')}}</a>
        </li>
      {% for sorting_status in sorting_status_list%}
        <li>
            <a href="{{h.add_get_param(request.url, 'status',sorting_status['get_param'] )}}">
            <span class="label" data-resource-status="{{sorting_status['get_param']}}">&nbsp;&nbsp;&nbsp;</span>
             {{ sorting_status['display_name'] }}
            </a>
        </li>
       {% endfor %}
    </ul>
   </div>
</div> {# filter-buttons #}
    
    {# {% if request.GET|length>1 %} #}
 <!-- <span class="filtered pill" >
      <span class="facet"> Clear All</span>
    <a href="{{h.url_for(request.path) }}" class="remove" title="Remove">
    <i class="icon-remove"></i>
    </a>
</span> -->
  {# {% endif %} #}

  <div class="filter-list">
      {% set found = [] %}
      
      {% for key, value in request.GET.iteritems() %}
        {% if key == 'storer_type' %}
            {% for sorting_storer_type in sorting_storer_type_list%}
                {% if sorting_storer_type['get_param']==value %}
                        {% do found.append(sorting_storer_type['display_name']) %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
 
      {{_('Type')}}:  
        {% if found %}
            <span class="filtered pill" >{{found[0]}}</span>
        {% else %}
        <span class="filtered pill" > {{ _('All types')}} </span>
        {% endif %}

    {% set found = [] %}
    
    {% for key, value in request.GET.iteritems() %}
        {% if key == 'status' %}
            {% for sorting_status in sorting_status_list%}
                {% if sorting_status['get_param']==value %}
                    {% do found.append(sorting_status['display_name']) %}
                {% endif %}
            {% endfor %}
        {% endif%}
    {% endfor %}

    {{_('Status')}}: 
        {% if found %}
            <span class="filtered pill" >{{found[0]}}</span>
        {% else %}
        <span class="filtered pill" > {{ _('All statuses')}} </span>
        {% endif %}

</div> {# filter-list #}
