{% set ingest_render_url = h.url_for('render_ingestion',resource_id=res.id, parent = parent) %}
{% set reject_url = h.url_for('reject_resource',resource_id=res.id, parent = parent) %}
 
{% snippet 'user/snippets/status_label.html', status=task_result.status %}
<div class="dropdown  dashboard-dropdown">
    <a href="#" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
      
      {{ _('Actions') }}
      <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu">
      {% block resource_item_explore_links %}

      <li>
	{% set loading_text = _('Loading...') %}
	
      <a  href="{{ ingest_render_url }}" data-module="ingest-dialog" data-module-template="{{ ingest_render_url }}" data-loading-text="{{ loading_text }}">
	  <i class="icon-ingest"></i> 
	    {{ _('Ingest') }}
	  </a>
      </li>
      
      <li>
	<a href="{{ reject_url }}" class="" >
	    <i class="icon-reject"></i>
	    {{ _('Reject') }}
	</a>
      </li>
	
      {% endblock %}
    </ul>
</div>

{% resource 'ckanext-publicamundi/ingest-dialog' %}