{% extends 'snippets/package_item.html' %} 

{# Do not display package description here -#}
{% block package_item_notes %}{% endblock %}

{# Display a list of ingestion-aware resources #}
{% block package_item_resources %}
  <ul class="resources unstyled">
      {% for resource in package.resources %}
       {% if resource.vectorstorer_resource or resource.rasterstorer_resource  %} 
        {% set task_result = h.resource_ingestion_result(resource.id) %}
      {% else %}  
        {% set task_result = {} %}
      {% endif %}
         
        {% snippet 'user/snippets/resource_item.html', pkg=package, res=resource, task=task_result, parent=parent %}
  {% endfor %} {# resource #}
  </ul>
{% endblock %}
