{% ckan_extends %}
{% block subtitle %}{% endblock %}
{% block page %}

<div class="account-masthead" style="background-color:#F3F4F4; ">
    <div class="container">
    <div class="account avatar">

    <ul class="user-menu">
                
        {% block header_account_container_content %}
        {# {% snippet "snippets/user_selector_simple.html", c=c %} #}
        {% if c.userobj %}
          <li class="authed" data-module="me" data-me="{{ c.userobj.id }}">
              {% block header_account_logged %}
              {# <ul class="unstyled"> #}
                  {# <li> #}
                <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="viewprofile" title="{{ _('View profile') }}">
                    <span class="down-arrow" >{{h.truncate(c.userobj.display_name, 40) }}</span>
                    </a>
                <ul>
                    {% if c.userobj.sysadmin %}
                    <li>
                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                        </a>
                    </li>
                    {% endif %}

                    {% set new_activities = h.new_activities() %}
                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                        <a href="{{ h.url_for(controller='user', action='dashboard_datasets') }}" title="{{ notifications_tooltip }}">
                        <span>{{ _('Dashboard') }}</span>
                        </a>
                    </li>
                    
                    {% block header_account_settings_link %}
                    <li>
                        <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                        <span>{{ _('Settings')}}</span>
                        </a>
                    </li>
                    {% endblock %}
                    
                    {% block header_account_log_out_link %}
                    <li>
                        <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                        <span>{{ _('Logout')}}</span>
                        </a>
                    </li>
                    {% endblock %}
                    {#  </ul>
                </li> #}
            </ul>
            {% endblock %}
            </li>
              {#  </ul> #}
          {% else %}
          {# <li class="not-authed">
          <ul class="unstyled"> #}
                {% block header_account_notlogged %}
                <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                {% if h.check_access('user_create') %}
                <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                {% endif %}
                {% endblock %}
                {#  </ul>
            </li> #}
        {% endif %}
        {% endblock %}
        
        {% block header_lang %}
        <li class="language">
            {% snippet "snippets/language_selector_simple.html" %}
            </li>
        {% endblock %}
    
    </ul>
        

    </div>
  </div>
    </div>

<header class="account-masthead"  style="height:54px" >
    <div class="container">
        {% block header_site_navigation %}
        <div id="homemenu">
        <div class="mainmenu"> 
        <div id="mainlogo">
        {# The .header-image class hides the main text and uses image replacement for the title #}
        <hgroup class="{{ g.header_class }}">

        {% if g.site_logo %}
          <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static('/images/geodata-biglogo.png') }}" alt="{{ g.site_title }} Logo" title="{{ g.site_title }} Logo" /></a>
        {% else %}
          <h1>
            <a href="{{ h.url('home') }}">{{ g.site_title }}</a>
          </h1>
          {% if g.site_description %}<h2>{{ g.site_description }}</h2>{% endif %}
        {% endif %}

    </hgroup>
</div>

            <nav class="section navigation">
          <ul class="nav nav-pills">
              {% block header_site_navigation_tabs %}
                {% snippet 'snippets/main_menu.html' %}                            
            {% endblock %}
          </ul>
          </nav>
          </header>
       
            {% block menucontainer %}
          <div id="menu-block-home" class="container" >
        {% block groups_list %}
             {% snippet "snippets/menu_list.html", items=h.list_menu_items() %} 
        {% endblock %}
    </div>

    {% endblock %}
{% endblock %}

{% set homepage_style = ( g.homepage_style or '1' ) %}
{% set homepage_style = ( g.homepage_style or '_slider' ) %}


{% block content %}
{% block maintag %}{% endblock %}
{% block toolbar %}{% endblock %}

<div class="homepage layout-{{ homepage_style }}">
    <div class="container">
        

        {{ self.flash() }}
    </div>
    {% block primary_content %}
     {%- block main %}

    {% block feedback %}

                <div class="feedback-form">
                    <a href="{{ h.feedback_form() }}"><button class="btn btn-primary">{{_('Leave your feedback')}}</button></a><a href="http://www.imis.athena-innovation.gr"><div class="imis-logo-side"></div></a>
                </div>
            {% endblock %}
            {% endblock %}


            {#  {% snippet "home/layout{0}.html".format(homepage_style) %} #}
    {% snippet "home/layout_slider.html" %}
    {% endblock %}
</div>


  {% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}
{% endblock %}

    
