{%ckan_extends %}

{% set pkg = c.pkg_dict %}
{% block toolbar %}
{{ super() }}
{% endblock %}


{% block page_heading %}
{{ super() }}

{% endblock %}

{% block package_description %}
    {% if h.package_rating_enabled() %}
    {% block package_rating %}
        {% snippet "snippets/rating.html", pkg=pkg, num_ratings=c.num_ratings, current_rating=c.current_rating, user=c.user  %}
    {% endblock %}
    {% endif %}
  {{ super() }}
  {% endblock %}

{% block package_notes %}
<div class="dataset-dates">
    <div> {{_('Publication:')}} {{ pkg.metadata_created.split('T')[0] or pkg.metadata_created or _('Never')}}</div>
    <div> {{_('Last revision:')}} {{ pkg.metadata_modified.split('T')[0] or pkg.metadata_modified or  _('Never') }}</div>
</div>
<hr class="border-divider"/>

{{ super() }}
<hr class="border-divider"/>
{% endblock %}

{% block package_tags %}{% endblock %}
  
    {% block dataset_type %}
  {% set api_controller = 'ckanext.publicamundi.controllers.api:Controller' %}
  {% endblock %}


{% block package_additional_info %}
<hr class="border-divider"/>
{{ super() }}
{% endblock %}

 {% block secondary_content %}
{# {% block secondary_help_content %}{% endblock %} #}

{#  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
    {% endblock %} #}
        {% if pkg.organization %}
  {% block package_organization %}
      {% snippet "snippets/organization.html", organization=pkg.organization , has_context_title=true  %}
      {% endblock %}
      {% endif %}

      {% if pkg.groups %}
    {% block package_group %}
    {% snippet "snippets/group.html", group=pkg.groups %}
    {% endblock %}
    {% endif %}

    {% if pkg.tags %}
  {% block package_side_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}
    {% endif %}
    
    {% if pkg.spatial %}
  {% snippet "spatial/snippets/dataset_map_sidebar.html", extent=pkg.spatial %}
  {% endif %}


  {% block package_license %}
{% snippet "snippets/license.html", pkg_dict=pkg %}
{% endblock %}

{% block package_social %}
{% snippet "snippets/social.html" %}
{% endblock %} 

{% endblock %}

{% block scripts %}
{{ super() }}
{% resource 'ckanext-publicamundi-geodata-theme/ratings' %}
{% endblock %}
