{%ckan_extends %}

{% set pkg = c.pkg_dict %}
{% block toolbar %}
{{ super() }}
{% endblock %}

{% block package_tags %}{% endblock %}
  
    {% block dataset_type %}
  {% set api_controller = 'ckanext.publicamundi.controllers.api:Controller' %}
  {% endblock %}

 {% block secondary_content %}
{# {% block secondary_help_content %}{% endblock %} #}

{#  {% block package_info %}
    {% snippet 'package/snippets/info.html', pkg=pkg %}
    {% endblock %} #}
        {% if pkg.organization %}
  {% block package_organization %}
      {% snippet "snippets/organization.html", organization=pkg.organization , has_context_title=true  %}
      {% endblock %}
      {% endif %}

      {% if pkg.groups %}
    {% block package_group %}
    {% snippet "snippets/group.html", group=pkg.groups %}
    {% endblock %}
    {% endif %}

    {% if pkg.tags %}
  {% block package_side_tags %}
    {% snippet "package/snippets/tags.html", tags=pkg.tags %}
    {% endblock %}
    {% endif %}

  {% block package_license %}
    {% snippet "snippets/license.html", pkg_dict=pkg %}
    {% endblock %}
     {% block package_social %}
    {% snippet "snippets/social.html" %}
    {% endblock %} 
    {% endblock %}
