/* Body */
@font-face { 
    font-family: 'ACMuli';
    src: url('../fonts/ACMuli/AC-Muli.ttf') format('truetype');
}

@font-face {
    font-family: 'ACMuliLight';
    src: url('../fonts/ACMuliLight/AC-MuliLight.otf') format('opentype');
}

body { 
    color: #666666;
    background: #fff;
    border: 4px #4E59A4 solid;
    font-family: 'ACMuliLight', Helvetica, Arial, sans-serif;
    font-weight: 500;
    min-width:1000px;
}
a, b { 
    font-family: 'ACMuli', Helvetica, Arial, sans-serif;
    font-weight: normal;
}
textarea, input{
    font-family: 'ACMuliLight', Helvetica, Arial, sans-serif !important;
    padding-top:5px;
}

a {
    color: #4E59A4;
}
p a{
    //font-weight: bold;
}
.module a{
    font-weight: normal;
}
.heading, h1, h2, h3, h4, h5, h6{
    font-family: 'ACMuli', Helvetica, Arial, sans-serif;
}

.left { 
    float:left;
}
.right{
    float:right;
}

.module h1{
    margin-bottom: 10px;
}
#content{
    min-height: 70vh;
}
.wrapper:before, .wrapper:after{
    display: none;
}
/* Header */

.account-masthead {
    background: #fff;
    font-color: #4E59A4;
    height: 32px;
}
.account-masthead .account{
}
.mainmenu{
}
.account-masthead .account .notifications a span{
    font-size:13px;
    background-color: #fff;
    padding-left:0;
}
.account-masthead .account ul li{
    border-left: none;
    float: left;
}
.account-masthead .account .notifications a span{
    margin-left:0;
    //padding: 0;
    border-radius: 0;
}
.account-masthead .account .notifications a:hover span{
    background-color: transparent;
}

.account-masthead .account ul li a{
    text-align: left;
    color: #4E59A4;
    line-height: 30px;
    padding: 0 6px 0 6px;
    font-weight: normal;
}

.account-masthead .account ul li a.sub{
    font-weight: normal;
}
.account-masthead .account ul li a:hover{
    background-color: #4E59A4;
    color: #fff;
}

.notifications-profile{
    display: block;
    float: left;
}
#user-top{
    display: block;
    position: relative;
    float: right;
}
#language-select-top{
    position: relative; 
    float: right;
    display: block;
}
#language-select-top .lang-dropdown{
}
#language-select-top .lang-container-custom{
}
.account-masthead .lang-container{
}
.account-masthead .lang-select{
    width: 100px;
}

.user-menu {
    text-align: left;
    z-index: 1000;
    position: relative;
    margin: 0;
    list-style: none;
    float: right;
    border: none;
    overflow: visible;
    }

.user-menu .nav-pills{
    margin-bottom: 0;
}


.user-menu > li {
        display: block;
        float: left;
        position: relative;
        cursor: pointer;
        margin: 0;
        border-radius: 0;
        //word-break: break-space;
       }

.user-menu:hover {
        z-index: 5000;
    }

.user-menu > li > a{
    border-top: 2px transparent solid;
    border-left: 2px transparent solid;
    border-right: 2px transparent solid;
    padding: 0;
    //min-width: 75px;
    max-height: 32px;
    overflow: hidden;
}
.user-menu > li:hover a{
        background: #fff;
        border-left: 2px #4E59A4 solid;
        border-right: 2px #4E59A4 solid;
    }
.user-menu > li > a > span{
}
.user-menu > li:hover > a{
        border-top: 2px #4E59A4 solid;
    }
.user-menu > li  ul > li {
    background: #fff;
    width: 100%;
    //width: auto;
    //max-width: 100%;
    display: inline;
}

.user-menu > li > ul > li:last-child a{
    border-bottom: 2px #4E59A4 solid;
}
.user-menu > li > a > span{
    padding: 0 10;
}
.user-menu > li > ul{
        width: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        box-shadow: none;
        display: none;
        opacity: 0;
        visibility: hidden;
        -webkit-transiton: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -ms-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        -transition: opacity 0.2s;
}
.user-menu li ul li { 
        //width: 100%;
        //display: block; 
        }

.user-menu > li > ul > li:hover{
        //background-color: #4E59A4;
        //color: #fff;

}

.user-menu > li:hover > ul {
        display: block;
        opacity: 1;
        visibility: visible;
}
.user-menu .language{
    width: 100px;
    //white-space: normal;
}
.user-menu .authed {
    min-width: 100px;
    max-width: 137px;
}
.viewprofile, .viewprofile a{
    //margin: 0;
    //min-width: 160px;
    //max-width:230px;
    //width: 100%;
    //padding: 5px;
}
.viewprofile span{
}
.down-arrow:before{
    content:"";
    margin-top: 13px;
    margin-right: 5px;
    margin-left: 0;
    display: block;
    position: relative;
    float: right;
    width:0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #4E59A4;
}
.down-arrow:hover:before{
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

}
.user-menu > li a:hover .down-arrow:before{
   border-top: 5px solid #fff;
    //border-top: 5px solid #4E59A4;
}
#homemenu .nav {
    margin: 0;
    float:right;
}
#homemenu .logo{
    padding: 10px;
}
.logo:hover img{
    opacity: 0.5;
    filter: alpha(opacity=40);
}
#homemenu .nav li a{
    font-size: 16px;
    padding: 21px 10px 21px 10px;
}
.mainmenu .section .nav { 
    float: left;
    margin: 0 0 0 10px;
}
#mainlogo .logo {
    float : left;
    padding-top: 8px;
}
#homemenu #mainlogo .logo {
    padding-top: 20px;
}
.nav-pills > .active > a, .nav-pills > .active > a:focus{
    background: #fff;
    color: #4E59A4;
}
.nav-pills > li > a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 7px;
    margin-right: 0;
    border-radius: 0;
    border-right: 1px #7C7C7F solid;
}
.nav-pills > li:first-child a{
    border-left: 1px #7C7C7F solid;
}
.nav-pills > li:hover a, .nav-pills > .active >a:hover {
    background-color: #4E59A4;
    color: #fff;
}
.alt-navigation{
    margin-top:2px;
}
.alt-nav li a{
    border: none;
}
.alt-nav > li:first-child a{
    border: none;
    padding-left: 0;
}

.alt-nav li:hover a{
    background: transparent;
    color: #fff;   
}

.alt-nav li:hover a:after{
    content:"";
    //float: left;
    position: absolute;
    margin-top:-12px;
    margin-right: -25px;
    width:0;
    height: 0;
    //border-left: 8px solid transparent;
    //border-right: 8px solid transparent;
    //border-top: 10px solid #4E59A4;
}
.alt-nav li a:focus{
    background: transparent;
    color: #fff;
}
.no-bottom-border{
    border-bottom: none !important;
}
.page-header .content_action{
    margin-top: -20px;
}
.page-header .nav-tabs{
    margin-top: 15px;
}
.nav-tabs{
    border-bottom: 1px #7C7C7F solid;
}

.nav-tabs > li > a{
    border-radius: 0;
    background-color: transparent;
}
.nav-tabs > li > a:hover{
    border-color:#7C7C7F; 
}
.nav-tabs > li.active > a, .nav-tabs >li.active > a:hover{
    border-color: #7C7C7F;
    border-bottom-color: #fff;
}
.nav-tabs > li > a:focus{
    background: #F6F6F6;
    border-color: #7C7C7F;
    border-radius: 0;
}

.nav > li > a > .hover-icon{
    margin-top: 2px;
    margin-right: -7px !important;
    float: right;
    display: none;
    font-size: 16px;
    color: #666;
}
.nav > li.active > a > .hover-icon{
    margin-top: -18px;
    margin-right: -7px !important;
    float: right;
    display: block;
    font-size: 16px;
    color: #fff;
}

.nav > li > a:hover > .hover-icon{
    display: block;
}
.nav > li.active > a:hover > .hover-icon{
}


.nav-facet .nav-item > a:hover:after,
.nav-facet .nav-item > a:after,
.nav-facet .nav-item.active > a:after,
.nav-facet .nav-item.active > a:hover:after
{
    display: none;
}

/* Home background */
.front-page-loader{
    display:block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.feedback-form{
    //display: block;
    position: fixed;
    top: 80vh;
    left:-4px;
    z-index: 1000;
    //background: #fff;

    -ms-transform: translate(-39%) rotate(-90deg); /* IE 9 */
    -webkit-transform: translate(-39%) rotate(-90deg); /* Chrome, Safari, Opera */
    transform: translate(-39%) rotate(-90deg);
}
.feedback-slideout{
    display: none;
    background: #fff;
    z-index: 1000;
    border: 2px #4E59A4 solid;
    color: #4E59A4;
    position:absolute;
    padding: 10px;
    
   -ms-transform: translate(-41%) rotate(-90deg); /* IE 9 */
    -webkit-transform: translate(-41%) rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg) translate(-33%) ;

}
.feedback-form:hover .feedback-slideout{
    display: block;
}
.imis-logo-side{
    display: block;
    float: right;
    margin-top: 3px;
    height: 27px;
    width: 68px;
    background: url('../images/imis-logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(123,123,321,0);
}
.hero {
    height: 50vh;
    //background-repeat: no-repeat;
    //background-size: cover;
    //background-color: rgba(123,123,321,0.8);
    //max-height: 500px;
    //min-height: 450px;
    //height: 60vh;
    //min-height: 100px;
}
.stayinview{
}
.promotebox{
    position: relative;
    //top: 120px;
    margin-left:30%;
    //left: 5%;
    //top: 15vh;
    top: 80px;
    z-index: 1000;
    border: 4px #4E59A4 solid;
    max-width: 350px;
    display: none;

}
.promotebox .module-content:first-child{
    border-radius: 0;
    box-shadow: none;
    border: 0;
    padding: 30px;
}
#promote-close{
    float:right;
    margin-top:-42px;
    margin-right: -42px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: #4E59A4;
    background-color: #fff;
    font-family: 'ACMuliLight';
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    border: 2px #4E59A4 solid;
}
#promote-close:hover{
    color: #fff;
    background-color: #4E59A4;
    border: 2px #4E59A4 solid;
}
.featured{
    margin-top:20px;
}
/* Home Slider */

.carousel{
    height: 100%;
    margin-bottom: 0;
}

.carousel-inner{
    height: 100%;    
}
.carousel .item{
    height: 100%;
    width: 100%;
}
.carousel .slide{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.carousel-layer{
    background-color: rgba(0,0,0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:1500;
    -webkit-transition: .3s linear;
    -moz-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear;
}
.carousel:hover .carousel-layer{
    //background-color: rgba(0,0,0,0.1);
}
.carousel:hover .promotion h1{
    //text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.carousel:hover .caption a{
    //text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}
.carousel-indicators{
    right: 45%;
    left: 45%;
    top: auto;
    bottom: 20px;
    text-align: center;
    z-index: 1600;
}

.carousel-indicators li{
    display: inline-block;
    float: none;
    border-radius:0;
    margin: 0 2px;
    border: 2px #fff solid;
}
.carousel-indicators li:hover{
    cursor: pointer;
}

.carousel .caption{
    position:relative;
    float: right;
    margin-right: 20px;
    color: #fff;
    background: none;
    //background: rgba(0,0,0,0.3);
    bottom: 35px;
    z-index: 1600;
}
.carousel .caption a{
    font-family: 'ACMuliLight';
    font-weight: normal;
    font-size: 15px;
    color: #fff;
}
.carousel .caption a:hover, .caption a:focus{
    color: #4E59A4;
    text-decoration: none;
}

.promotion{
    background: none;
    position: absolute;
    top: 25%;
    width: 100%;
    z-index: 1600;
    text-align: center;
    color: #fff;
}
.promotion header h1{
    font-family: 'ACMuliLight';
    font-size: 40px;
    cursor: default;
}
.promotion .btn{
    background: transparent;
    margin-top: 10px;
    border-color: #fff;
    color: #fff;
}

.promotion .btn:hover{
    border-color: #4E59A4;
}

/* Main */
[role=main] {
    padding: 0;
    padding-bottom: 20px;
    background: #fff;
}
[role=main] .primary{
    width: 697px;
}
//.module-content:first-child{
//    padding-top:0;
//}
#menu-block, #menu-block-home{
    z-index: 2000;
    position:absolute;
    left: 0;
    right: 0;
    display: none;
    background: #F6F6F6;
    border: 3px #4E59A4 solid;

}
#menu-block-home {
    margin-top:2px;
    //padding: 0 0 10px 0;
}
.enabled{
    display: block !important;
}
#menu-block {
    top: 36px;
}
#menu-block .menu-grid, #menu-block-home .menu-grid{
    width: 100%;
    margin:10px;
    padding: 0;
}
.painted { 
    //border-top: 2px #4E59A4 solid;
    //border-left: 2px #4E59A4 solid;
    //border-right: 2px #4E59A4 solid;
    //border-bottom: 2px #fff solid;
    background: #4E59A4;
}
.painted a, .painted a:after{
    color: #fff;
    border-top-color: #fff !important;
}
.icons-grid {
    margin-bottom: 20px;
}
.menu-item{
    display: block;
    float: left;
    width: 80px;
    height: 84px;
    padding: 15px;
    margin: 10px;
    text-align: center;
}
.menu-item span{
    width:95px;
    margin: 8px 0 0 -7px;
    line-height: 15px;
}
.icons-grid li img{
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.icons-grid li:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);

}
.icons-grid li:hover a{
    text-decoration: none;
    text-color: #4E59A4;
}
.menu-heading{
    font-size: 12px;
    display: block;
}
#menu-block img, #menu-block-home img{
    max-width:65px;
}
.wrapper {
    border: none;
    box-shadow: none;
}
.page-header{
    background: none;
    //border-bottom: none;
    border-bottom: 1px #7C7C7F solid;
}
/* Breadcrumbs */

.breadcrumb > li {
    text-shadow: none;
    color: #fff;
    float: left;
    margin-right: 5px;
}
.breadcrumb li:first-child:after{
    content: "";
}
.hidden {
    display: none !important;
    visibility: 0;
}
.shown{
    display:block;
}
.breadcrumb-hide-text a{
    display: none;
}

.breadcrumb-hide-text:before{
    //content:" ... " !important; 
}
.breadcrumb-hide-text:after{
    content:"";
}

.breadcrumb-icon{
    float: left;
    margin-right: 10px;
}
.gap{
    margin-bottom: 40px;
}
.supergap{
    margin-bottom: 100px;
}
.toolbar .breadcrumb {
    padding: 12px 0 6px 0;
    overflow: hidden;
    line-height: 30px;
}
.toolbar .sixtypercent .breadcrumb{
    max-width: 61%;
}
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active{
    font-weight: normal;
}
.toolbar .breadcrumb a{
    color: #fff;
}
.page_primary_action{
    float: right;
    margin-bottom: 0;
}
.toolbar { 
    display: block;
    background: #4E59A4;
    margin: 0;
    min-height: 40px;
    max-height: 60px;
}
.toolbar:hover{
    transition: max-height 4s ease-in-out;
}
.toolbar .btn-primary,.toolbar .btn{
    float:right;
    margin-top: 4px;
}
.toolbar .btn-group{
    float: right;
}
.altbar{
    background: #A9B6D8;
    margin: 0;
    height: 40px;
    padding: 5px 0;

}
.search-form{
    margin-bottom:0;
    padding-bottom:0;
    margin-top:0;
}
.searchfw {
    background: #F6F6F6;
}
.homepage [role=main]{
    padding: 0;
    overflow: hidden;
}
.homepage .searchfw, .homepage .searchfw input{
    background: #fff;
}
.searchbar { 
}
.search {
    border-radius: 0;
    box-shadow: none;
}
.searchfw input {
    background: #F6F6F6;
    border: none;
    border-radius: 0;
    //padding-left: 0;
}
.searchfw:hover input{
    //border: 2px #4E59A4 solid;
}

.searchfw:selected input{
    border: none;
}
.search-form {
    border-bottom: 0;
}
.searchfw .search-input input{

}
.search-form .search-input.search-giant button{
    position:relative;
    float:right;
    margin-top:-42px;
}
.search-medium > .search-form .search-input {
    border: 2px #4E59A4 solid;
}
.search-form .search-input.search-giant button i{
    font-size: 27px;
}
.search-form .search-input button i{
    color: #4E59A4;
    transition: color 0.2s ease-in-out;
}

.homepage .search-form .search-giant button{
    margin-top:-46px;
}
.search-form .search-input.search-giant input{
    box-shadow: none;
    //padding-left: 0;
}
.homepage .search-form .search-input.search-giant input{
    padding-left:0;
}
.search-form-top .search-input.search-giant input{
    padding-left:0;
}
.search-form-top .extra{
    margin-top: 10px;
    margin-left: 320px;
}
.homepage .module-search .search-giant input{
    font-size: 22px;
}

.search{
}
.homepage .module-search{ 
    padding: 0;
    border: 0;
    box-shadow: none;
    height:50px;
    width: 100%;
    bottom: 0;
}
.homepage .module-search .module-content{
    margin:0;
    padding: 0;
}
.threesteps .module-content:first-child{
    padding-top:0;
}
.homepage .searchfw{ 
    margin-bottom: 0 !important;
}
#package-list-home{
    background: #ECECEC;
    padding-bottom: 20px;
    padding-top: 20px;
}
#package-list-home .dataset-preheading{
    font-size:14px;
}
#package-list-home .dataset-preheading a{
    color: #666666;
}
#package-list-home .dataset-preheading span a {
    color: #4E59A4;
}
#package-list-home .dataset-postheading {
    font-weight: 800;
    font-size: 14px;
    color: #4E59A4;
}
#package-list-home .dataset-heading{
    font-size:20px;
    margin-top:7px;
}
.dataset-preheading{
    margin-bottom: 5px;
    font-size: 12px;
}
.dataset-postheading{
    margin-top:5px;
    font-weight: normal;
}
.dataset-heading{
    margin-bottom:5px;
}
.dataset-heading a{
    font-weight: normal;
    color: #4E59A4;
}
#package-list-home .dataset-heading img{
    max-width: 40px;
}
.media-view{
    border:0;
}
.media-grid {
    background: #fff;
    border: none;
}
.media-item {
    width: 160px;
    text-align: center;
    border-radius: 0;
    border: 4px #4E59A4 solid;
}
.media-item img{
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}
.media-item:hover img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);

}
.media-item img{
    border-radius: 0;
}
/* Sidebar */
[role=main] .secondary {
    width: 239px;
    font-color: #666666;
    //border: 1px #4E59A4 solid;
    //border: 1px #666666 solid;
}
.facet-icon{
    margin:0 2px 0 0;
    height: 20px;
}
.paintme{
    border: 2px #4E59A4 solid;
}
.secondary .module {
    margin: 0;
}
.secondary .module:first-child {
    border-top: none;
}
.secondary .module-heading{
    border-top: 2px #4E59A4 solid;
    border-bottom: 1px #4E59A4 solid;
    padding: 8px 15px 7px 15px;
    text-align: left;
    background-color: #F6F6F6;
    font-size: 18px;
    color: #666666;
    font-weight: normal;
}
.secondary .module-heading .action{
    font-size: 14px;
    float: right;
    display: block;
    margin-top:3px;
}
.secondary .module-content{
    text-align: left;
}
.secondary .module-footer, .module-narrow #dataset-map-attribution{
    background: #F6F6F6;
    margin:0;
    padding: 5px 8px;
    //border-top: 1px #4E59A4 solid;
}
.secondary .dataset-map-clear:hover, .dataset-map-clear:focus{
    text-decoration: none;
}
.secondary .module-footer{
    border-top: 1px #4E59A4 solid;
}
.secondary .module-footer a{
    font-size: 12px;
    color: #4E59A4;
    padding-left:10px;
    font-weight: normal;
}
.secondary .nav-item a span{
    color: #666666;
    font-size: 14px;
}
.secondary .nav-item.active a span{
    color : #fff;
}
.sorting{
    float: left;
    margin-top:8px;
    font-size: 15px;
    font-weight: bold;
}
.sort-count, .sort-name
{
    width: 60px;
    margin-left: 5px;
    font-weight: bold !important;
    display:block;
    transition: color 0.2s ease-in-out;
}
.sort-name{
    float: left;
}
.sort-count{
    float: right;
}
.sort-count-icon, .sort-name-icon{
    font-size:11px;
}
.secondary .sort-count:focus, .sort-name:focus{
    color: #4E59a4;
    text-decoration: none;
}
.secondary .sort-count:hover, .sort-name:hover{
    color: #000;
    text-decoration: none;
}
.alt-side-style .module-heading{
    font-size:20px;
    background-color: transparent; 
    border-bottom: none;
    text-align: left;
}
.alt-side-style .module{
    padding-left:18px;
    padding-right:18px;
}
.social{
    background: #fff;
}
.social ul li{
    float: left;
    width: 33%;
    text-align: center;
    margin: 15px 0 15px 0;
}
.social a:hover{
    text-decoration: none;
}
.social a [class^="icon-"] {
    font-size: 22px;
}
.developers ul li{
    padding: 5px;
}
#accordion-dev .accordion-group{
    margin: 5px 0;
}
#accordion-dev .accordion-heading a{
    padding: 13px;
    font-size: 16px;
}
.developers-icon{
    font-weight: bold;
    font-size: 17px;
}
.social-icon{
    font-size: 17px;
}
.dataset-map-expanded #dataset-map{
    top: -396px;
    left:0;
    height:399px;
    border: 2px #4E59A4 solid;
}
.section-contact{
    //margin:10px 0 10px 5px;
    padding: 15px 0 10px 5px;
    //float: left;
    //margin-right: 10px;
}
.section-contact .btn i{
    margin-right: 2px;
}
/* Contact form */

#contact-form-modal-items{
    padding:0 10px 0 10px;
    margin-bottom: 0;
}
#contact-form-modal-success, #contact-form-modal-failure, #contact-form-modal-loading{
    padding: 0 0 15px 20px;
}
#contact-form-modal-success i{
    font-size: 20px;
    color: #2CC423;
}
#contact-form-modal-failure i{
    font-size: 20px;
    color: #CC2323;
}
.ajax-loader{
    display: block;
    float: left;
    margin-right: 15px;
    background-image: url("../../images/ajaxload-circle.gif");
    background-repeat: no-repeat;
    background-size:cover;
    width: 23px;
    height: 23px;
}
.group{
    margin: 0 !important;
}
.nav-simple > li, .nav-aside > li {
    border-bottom: 1px #4E59A4 solid;
}
.nav-simple > li:last-of-type{
    //border-bottom: 1px #4E59A4 solid;
    border-bottom:none;
}
.nav-item.active > a, .nav-aside li.active a, .nav-item.active > a:hover, .nav-item.active > a:focus{
    background: #4E59A4;
}
.nav-item.active > a:before, .nav-aside li.active a:before{
    background-image: none;
    right:-12px;
    height:0;
    width:0;
    border-top:18px solid transparent;
    border-bottom:17px solid transparent;
    border-left: 11px #4E59A4 solid;
}
.context-info h1.heading{
    margin: 5px;
    padding: 5px;
}
.context-info .image img{
    margin-left: auto;
    margin-right: auto;
}
.dataset-item, .dataset-item:last-of-type{
    margin-bottom:0;
    padding: 10px;
}
.dataset-item:hover{
    background: #F6F6F6;
}
.mindthegap{
    margin-top:30px;
}
section.tags{
    margin-bottom: 0;
}
.tag{
    color: #666;
    border-color: #aaa;
    border-radius: 0;
}
.tag-list{
    background: none;
    border: none;
    box-shadow: none;
    padding: 20px 10px 20px 10px;

}
.tag-list li{
    margin-top: 5px;
}
.tag{
    box-shadow: none;
}
a.tag:hover{
    box-shadow: none;
}
.tag-list li:hover{
}
.tag-list li a:hover{
    background: #4E59A4;
}
.well{
    border-radius: 0;
}
/* Footer */
.quarter {
    width: 25%;
    float: left;
    position: relative;
}

.site-footer{
    background: #ECECEC;
    color: #6B75B3;
}
.site-footer a, .site-footer label{
    color: #6B75B3;
}
.footer-links > ul{
}
.footer-links > ul > li, .footer-links > ul > ul > li{
    margin-bottom: 10px;
}
.attribution ul ul li {
    margin-bottom: 10px;
}
.site-footer .site-search input{
    width: 100%;
}
.site-footer .site-search{
    margin-bottom: 20px;
}
.site-footer input[type="text"]  {
    //border: 3px #4E59A4 solid;
    border: 2px solid #4E59A4;
}
.site-footer input[type="text"]:active{
    border:1px solid #5897fb;
}
.btn-search i{
    color: #4E59A4;
    font-size: 17px;
    transition: color 0.2s ease-in-out;
}
/* Dataset Page */

.dataset-dates{
    display:block;
    position:relative;
}
.resource-actions {
    display: inline-block;
    position:relative;
    float: right;
}
.icon-edit{
    //font-size: 23px;
    //position: relative;
    //top: 4px;
    
}
.icon-edit:hover{
    //text-decoration: none;
    
}

.resource-actions li {
    display: inline-block;
    float: left;
    margin-left: 7px;
}
.resource-actions .btn{
    padding: 4px 10px;
}
.resource-reorder-custom{
    float: right;
}
.resource-info{
    max-width: 300px;
}

/*
 * Package rating
 */
.package-rating{
    float: right;
    cursor: default;
}
.package-rating i{
    color: #4E59A4;
}
.rating-count{
    text-align: center;
}
.package-rating a:hover, .package-rating a:focus{
    text-decoration: none;
}

/* Metadata Tables */
.table th{
    font-family: 'ACMuli', Helvetica, Arial, sans-serif;
}
.table tr.toggle-separator{
    display:none;
}
.table-bordered{
    border-radius:0;
}
.table-striped tbody tr:nth-child(even) td, .table-striped tbody tr:nth-child(even) th{
    background-color: #F9FAFC;
}

.table-bordered tbody:last-child tr:last-child > td:last-child{
    border-bottom-right-radius:0;
}
.table-bordered tbody:last-child tr:last-child > td:first-child{
    border-bottom-left-radius:0;
}

.toggle-show-more{
    height:34px;
    border-radius:0;
    background: #A9B6D8;
}
.toggle-show-more:hover{
}
.show-more, .show-less{
    position:relative;
    color: #fff;
    font-size: 14px;
}
.show-more:hover, .show-less:hover{
    color: #fff;
}

.table-toggle-more:after{
    position:absolute;
    left: 61%;
    content:"";
    height:0;
    width:0;
    border-left:18px solid transparent;
    border-right:17px solid transparent;
    border-top: 11px #A9B6D8 solid;

}
.metadata-download{
    position:relative;
    float: right;
}
.download-links .btn-group{
    float:right;
    margin-right:1px;
}
.download-links .btn-group .btn{

    max-width: 130px;
}
.metadata-label{
    display: block;
    max-width: 120px;
    padding: 8px 5px 6px 5px;
    margin-right: 8px;
    width: 7em;
    text-align: center;
    font-family: 'ACMuliLight';
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #666666;
    background-color: #ECECEC;
    border-color: #ECECEC;
}
.metadata-label > i { 
    font-size: 1.2em;
}
.metadata-label:after{
    //color: #fff;
    font-size: 14px;
    //color: #4E59A4;
}

/* Resources */
.resource-list .btn{
    max-width: 130px;
}
.resources {
    margin-bottom: 20px;
}
.resource-item:hover{
    background: #F6f6f6;
}
.resource-item .heading{
    font-weight: normal;
}
.resources li.resource-item .all-btns .btn-group{
    right: 0px;
}
.resource-item .heading i{
    color: #4E59A4;
}

.resources li.resource-item .all-btns li{
    margin-left: 8px;
}
.label{
    font-weight: normal;
    border-radius:0;
    text-shadow: none;
}
.dashboard-resources .filter-list .label{
    padding: 5px 10px;
}
.dashboard-resources li.resource-item .resource-ingest-opts, .dashboard-resources li.resource-item .btn-group.resource-ingest-opts{
    position: relative;
    float: left;
    right: 10px;
    top: -5px;

}
.dashboard-resources .dropdown-menu > li > a{
    padding: 3px 20px 3px 15px;
}
.dashboard-resources .dropdown-menu .label{ 
    border: 1px #000 solid;
    margin-right: 5px;
}
.label[data-resource-status="identified"], .label[data-resource-status="rejected"]{
    //position:relative;
    //float: right;
        //left: -12px;
    //top: 7px;
}
.dataset-private.pull-right{
    padding: 7px 10px;
}
.label-big{
    font-size: 18px;
    padding:7px 10px;
    border-radius: 0;
    vertical-align: top;
}
.border-divider{
    margin-top:20px;
    margin-bottom: 20px;
    width: 35%;
    border-top: 2px #4E59A4 solid;
}
.additional-info{
}
.additional-info h3{
    margin-top:6px;
}
/* Search page */

.search-form .filter-list{
    display: block;
    float: none;
    margin: 20px 0;
}

.pill {
    border-radius: 0;
}
.pill a.remove{
    font-size: 12px;
}
.pill .remove{
    box-shadow: none;
    text-shadow: none;
    border: 2px #7C7C7F solid;
    //border: none;
    //width: 12px;
    //height: 16px;
}
.pill .icon-remove{
    color :#6f8890;
    //border: none;
}
.pill .icon-remove:before{
}
.pill .remove:hover{
    border: 2px #6f8890 solid;
    background: #fff !important;
    //border: none;
}
.pill .remove:hover .icon-remove{
    //background: transparent;
    color: #C43210;
}
.pill .remove:hover .icon-remove:before{
}

/* Buttons */
.btn {
    font-family: 'ACMuli';
    border-radius: 0;
    border: 2px #4E59A4 solid;
    padding: 5px 8px 5px 8px;
    background: #fff;
    color: #4E59A4;
    text-shadow: none;
    box-shadow: none;
}
.btn-primary{
    //border: 3px #4E59A4 solid;

}
.btn:hover, .btn-hover{
    border-radius: 0;
    background: #4E59A4;
    color: #fff !important;
    //border: 2px #4E59A4 solid;
}
.btn:focus{
    outline: none;
}
.btn:first-child{
    text-decoration: none;
}
.dataset-private{
    text-transform: none;
    margin-right: 0;
}
.state-draft{
    border-radius: 0;
    background: #5cdbd4;
    color: #fff;
    border: 2px #5cdbd4 solid;
}
.resources li.resource-item{
    padding: 10px 5px 10px 60px;
}
.resources  li.resource-item  .all-btns{
    float: right;
    //margin-top: 5px;
}
.resources li.resource-item p.description{
    width: 52%;
}
.btn-group > .btn:first-child {
    border-radius: 0;
}
.btn-group > .btn{
    float: left;
}
.btn-group > .dropdown-toggle{
    float: right;
    box-shadow: none;
    border-radius: 0;
}
.btn-primary{
    //border: 4px #4E59A4 solid;
}
.btn-primary:hover{
    //border: 4px #4E59A4 solid;

}

.btn-warning{
    color: #C6B489;
    border: 2px #C6B489 solid;
}
.btn-warning:hover, .state-invalid{
    background: #C6B489;
    border: 2px #C6B489 solid;
}
.btn-warning:focus {
    color: #fff;
    background: #C6B489;
    border: 2px #C6B489 solid;
}

.btn-danger, .remove, .clear-items{
    color: #C43210;
    background: #fff;
    border: 2px #C43210 solid;
}
 .btn-danger:hover, .remove:hover, .clear-items:hover, .state-deleted{
    background: #C43210 !important;
    color: #fff !important;
    border: 2px #C43210 solid;
}
.remove-opts .btn-mini{
    border: 2px #C43210 solid;
    color: #C43210;
    background: #fff;
 }
 .dropdown-menu .btn, .dropdown-menu .btn-mini{
     border: none !important;
 }
 .btn [class^="icon-"]{
     margin-right:0;
 }
.open .caret{
    border-top-color: #fff !important;
    border-bottom-color: #fff !important;
}
.btn .caret, .btn-primary .caret, .btn-warning .caret, .btn-danger .caret, .btn-info .caret, .btn-success .caret, .btn-inverse .caret{
    border-top-color: #4E59A4;
    border-bottom-color: #4E59A4;
    //border-bottom-color: #4E59A4;
}

.btn:hover .caret, .btn-primary:hover .caret,  .btn-info:hover .caret, .btn-success:hover .caret, .btn-inverse:hover .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}
.btn:focus .caret, .btn-primary:focus .caret,  .btn-info:focus .caret, .btn-success:focus .caret, .btn-inverse:focus .caret{
    border-top-color: #fff;
    border-bottom-color: #fff;
}


.btn-warning:hover .caret{
    background: #C6B489;
}
.remove-opts .btn:hover, .remove-opts .btn-mini:hover{
    background: #C43210;
}
.btn-primary:focus{
    color: #fff;
    background: #4E59A4;
    border: 2px #4E59A4 solid;

}
.controls input[type="button" i]{
    cursor: pointer !important;
}
.btn-right-fix{
    float:right;
    margin-left: -1px;
}
/* Accordion */
.accordion{
    margin-top:30px;
}
.accordion a{
    color: #4E59A4;
}
.accordion-group:hover{
    background: #F6F6F6;
}
/* Search page specific */
 .form-title{
    margin-left: 260px;
    font-size: 18px;
    display: inline-block;
    position: relative;
    padding: 4px 20px 0 20px;
}

.dataset-resources li a{
    border: 1px #4E59A4 solid;
    font-family: 'ACMuli';
    font-size: 12px;
    margin-bottom: 5px;
    border-radius: 0;
    background-color: #fff !important;
    color: #4E59A4 !important;
    //font-weight: bold;
    letter-spacing: 0.02em;
}
.middle-text{
    margin-left:0;
}
/* CKAN control overrides */
.form-select select {

    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -o-border-radius: 0px !important;
    border-radius: 0px !important;
}
.select2-container-multi .select2-choices .select2-search-choice{
    font-size: 14px;
    line-height: 13px;
    background-image: none;
    background-color: #f6f6f6;
    border-radius: 0;
    box-shadow: none;
    background-clip: none;
}
.select2-container .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices{
    background-image: none;
    background: #fff;
    border-radius: 0;
    //border: 3px #4E59A4 solid;
}
.select2-search-choice-close, .select2-container-multi .select2-search-choice-close{
    top: 4px;
}
.select2-container .select2-choice .select2-arrow{
    background-image:none;
    background: #fff;
}
.btn-group.open .btn-primary.dropdown-toggle, .btn-group.open .btn.dropdown-toggle{
    background: #4E59A4;
    color: #fff;
    box-shadow: none;
}
.remove-opts.open .btn.dropdown-toggle{
    background: #C43210 !important;
}
.dropdown-menu > li > a:hover{
    background: #4E59A4;
}
.dropdown-menu > li > a:focus{
    background: #4E59A4;
}
.select2-drop.select2-drop-above.select2-drop-active{
    //border: 3px #4E59A4 solid;
}
/* Preview */
iframe{
    //border: 4px #4E59A4 solid;
    min-height: 450px;
}
/* New package */
.stages li button.highlight {
    padding: 5px 52px;
    line-height: 20px;
}

.stages li.active .highlight{
    background: #4E59A4;
}
.stages li.active:before{
    color: #000;
}
.stages li.active:after{
    border-top-color: #4E59A4;
    border-bottom-color: #4E59A4;
}
.stages li.complete .highlight{
    background: #A9B6D8;
}
.stages li.complete:after{
    border-top-color: #A9B6D8;
    border-bottom-color: #A9B6D8;
}

.nav-pills > li > a[href$="/group"]:after {
    content:"";
    margin-left: 5px;
    margin-top: 5px;
    display: block;
    position: relative;
    float: right;
    width:0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
            
    border-top: 5px solid #4E59A4;
}

.nav-pills > li:hover > a[href$="/group"]:after {
   //border-top: 5px solid #4E59A4;
}
/* Recline */
.recline-data-explorer .btn{
    border-radius: 0;
}
/* About page */
.about{
}
.about-secondary{
    margin-top: 20px;
}
/* Pagination */
.module .pagination{
    border-top: 1px #545356 solid;
    border-bottom: 1px #545356 solid;
}
.module .pagination ul > li > a{
    border-left: 1px #545356 solid;
    border-right: none;
    color: #4E59A4;
}

.module .pagination ul > li:last-child > a{
    border-right: 1px #545356 solid;
}

.module .pagination ul > li:first-child > a{
    border-left-width: 1px;
}
.module .pagination li.active a{
    background: #F3F4F4; 
}
/* Resources */
.resource-item .format-label{
    background-image: url("../../images/icons/resources/data-generic.svg");
    background-repeat: no-repeat;
     background-position: 0px 0px;
   background-size: 100%;
    width: 50px;
    height: 48px; 

    top: 5px;
    left: 5px;
}
/* Members page */

.add-member-or{
    float: none;
    margin-bottom: 30px;
}
.add-member-form .row-fluid .control-group{
    width: 60%;
}
.add-member-form .controls{
    margin-top: 20px;
}
/* Matsakonies */
.label[data-format=data_table]{
    display:none;
}

.format-label{
}

format-label[data-format=csv], .format-label[data-format*=csv]
{
    background-image: url("../../images/icons/resources/csv.svg");
}
.format-label[data-format=zip], .format-label[data-format*=zip]
{
    background-image: url("../../images/icons/resources/zip.svg");
}
.format-label[data-format=xml], .format-label[data-format*=xml]
{
    background-image: url("../../images/icons/resources/xml.svg");
}
.format-label[data-format=json], .format-label[data-format*=json]
{
    background-image: url("../../images/icons/resources/json.svg");
}
.format-label[data-format=geojson], .format-label[data-format*=geojson]
{
    background-image: url("../../images/icons/resources/geojson.svg");
}
.format-label[data-format=gml], .format-label[data-format*=gml]
{
    background-image: url("../../images/icons/resources/gml.svg");
}
.format-label[data-format=html], .format-label[data-format*=html]
{
    background-image: url("../../images/icons/resources/html.svg");
}
.format-label[data-format=kml], .format-label[data-format*=kml]
{
    background-image: url("../../images/icons/resources/kml.svg");
}
.format-label[data-format=jpg], .format-label[data-format*=jpg]
{
    background-image: url("../../images/icons/resources/jpg.svg");
}
.format-label[data-format=png], .format-label[data-format*=png]
{
    background-image: url("../../images/icons/resources/png.svg");
}
.format-label[data-format=ods], .format-label[data-format*=ods]
{
    background-image: url("../../images/icons/resources/ods.svg");
}
.format-label[data-format=odt], .format-label[data-format*=odt]
{
    background-image: url("../../images/icons/resources/odt.svg");
}
.format-label[data-format=pdf], .format-label[data-format*=pdf]
{
    background-image: url("../../images/icons/resources/pdf.svg");
}
.format-label[data-format=wms], .format-label[data-format*=wms]
{
    background-image: url("../../images/icons/resources/wms.svg");
}
.format-label[data-format=wfs], .format-label[data-format*=wfs]
{
    background-image: url("../../images/icons/resources/wfs.svg");
}
.format-label[data-format=rdf], .format-label[data-format*=rdf]
{
    background-image: url("../../images/icons/resources/rdf.svg");
}
.format-label[data-format=tiff], .format-label[data-format*=tiff]
{
    background-image: url("../../images/icons/resources/tiff.svg");
}
.format-label[data-format=txt], .format-label[data-format*=txt]
{
    background-image: url("../../images/icons/resources/txt.svg");
}
.format-label[data-format=shp], .format-label[data-format*=shp], .format-label[data-format=shapefile], .format-label[data-format*=shapefile], .format-label[data-format=shape], .format-label[data-format*=shape]

{
    background-image: url("../../images/icons/resources/shapefile.svg");
}
.format-label[data-format=xls], .format-label[data-format*=xls]
{
    background-image: url("../../images/icons/resources/xls.svg");
}
.format-label[data-format=gpx], .format-label[data-format*=gpx]
{
    background-image: url("../../images/icons/resources/gpx.svg");
}
.format-label[data-format=sqlite], .format-label[data-format*=sqlite],
.format-label[data-format=geopackage], .format-label[data-format*=geopackage],
{
    background-image: url("../../images/icons/resources/sqlite.svg");
}
.format-label[data-format=wcs], .format-label[data-format*=wcs]
{
    background-image: url("../../images/icons/resources/wcs.svg");
}
.format-label[data-format=wps], .format-label[data-format*=wps]
{
    background-image: url("../../images/icons/resources/wps.svg");
}
.format-label[data-format=csw], .format-label[data-format*=csw]
{
    background-image: url("../../images/icons/resources/csw.svg");
}

@media screen and (max-width : 900px){
    .hero{
        //min-height: 0 !important;
    }
    body{
        border: none;
    }
    .promotebox{
        display: none!important;
    }
    .carousel-indicators{
        display: none;
    }
}
