body {
    font-family: sans-serif;
}

header > h1.inline,
header > h2.inline,
header > h3.inline,
header > h4.inline,
header > h5.inline,
header > h6.inline { 
    display: inline-block 
} 

.right{
    float:right;
}
.left{
    float:left;
}
.btn {
    font-weight: normal;
}

.popover {
    width: inherit;
    max-width: 400px;
    padding: 0px;
    border-radius: 2px;
}

.popover .popover-title {
    font-size: 1.05em;
}

.modal {
    border-radius: 2px;
}

.modal .modal-header h3 {
    font-size: 1.5em;
}

.btn-small {
    padding: 4px 9px 4px 9px;
}

.btn-mini {
    padding: 3px 6px;
}

.btn.dropdown-toggle > .caret {
    margin-left: 2px;
}

.dropdown-menu li > a > p {
    margin: 2px 0px;
}

.datepicker {
    width: 250px
}

div.controls .help-block {
    font-size: 0.92em;
    margin-top: 8px;
}

.slug-preview {
    margin: 3px 0px 0px 0px;
}

div.accordion-group {
    border-radius: 1px;
}

/* workaround for dropdown-menu buttons croped inside 
 * accordion bodies */
div.accordion-body .pull-right > .btn-group > ul.dropdown-menu {
    left: -70%;
}

span.label.not-available {
    padding: 3px 5px;
    margin: 0px 7px;
    font-size: 11px;
    font-family: monospace;
}

select,
textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"] {
    border-radius: 1px;
}

.input-prepend .add-on:first-child, 
.input-prepend .btn:first-child {
    border-radius: 1px 0 0 1px;
}

.alert {
    border-radius: 1px;
}

.alert.error-messages > h3 {
    font-size: 1.06em;
    margin: 4px 0px;
}

label.checkbox {
    font-weight: inherit;
    margin-top: 4px;
}

label.radio {
    font-weight: inherit;
    margin: 0px 0px 0px 0px;
}

.actions li {
    margin-right: 0px;
}

.control-group .btn {
    top: 0px;
}

.controls.checkboxes label.checkbox {
    padding-left: 0px;
}

input[type='checkbox'], input[type='radio'] {
    top: 5px;
}

.form-horizontal .control-label {
    width: 140px;
}
.modal-body.form-horizontal{
    margin-top: 20px;
}
.modal-body.form-horizontal .control-label{
    text-align:left;
}
.form-horizontal .controls {
    margin-left: 146px;
}

.error-block {
    border-radius: 1px;
    margin: 3px 0px;
    padding: 5px 15px;
    width: inherit;
}

.error-block > ul {
    margin: 5px 0px; 
}

.control-group > .alert-error {
    margin: 3px 0px;
    font-size: 12px;
}

.select2-container {
    margin-top: 0px;
}

.select2-container .select2-choice,
.select2-container-multi .select2-choices {
    border-radius: 1px;
    line-height:28px;
    height:28px;
}

.select2-container-multi .select2-choices {
    background: none;
    box-shadow: 0px;
}

.select2-container-multi .select2-choices .select2-search-choice {
    border-radius: 1px;
}

input:disabled, textarea:disabled {
    cursor: text;
}

.input-append .add-on:last-child, 
.input-append .btn:last-child, 
.input-append .btn-group:last-child > .dropdown-toggle {
    border-radius: 0 1px 1px 0;
}

.input-append.datetime .add-on, 
.input-append.time .add-on,
.input-append.date .add-on {
    cursor: pointer;
}

.bootstrap-datetimepicker-widget td, 
.bootstrap-datetimepicker-widget th {
    border-radius: 2px;
}

.form-horizontal .control-group {
    margin-bottom: 14px;
}

.form-horizontal .info-inline {
    width: 235px;
}

.form-horizontal .control-group .controls > div.display {
    padding-top: 5px;
}

.form-horizontal .controls input + input {
    display: block;
    margin-top: 5px;
}

.form-horizontal .controls input + input.inline-control {
    display: inline-block;
    margin-top: inherit;
}

.form-horizontal .control-group > .control-subgroup {
    margin: 5px 0px;
}

span.space-x1 { padding: 0px 4px }
span.space-x2 { padding: 0px 8px }
span.space-x3 { padding: 0px 12px }

.tag {
    border-radius: 2px;
}

.table {
    margin-bottom: 10px;
    margin-top:10px;
    border-radius: 2px;
}

.table td.value > dl, 
.table td.value > .field-read-widget > dl, 
.table td.value > .field-read-widget > .object-read-widget > dl {
    margin: 0px 0px 0px 5px;
}

.table td.value li.tag {
    margin-bottom: 0px;
    margin-top: 5px;
} 

.table td.value span.number { 
    /*font-family: monospace;*/
}

.table tr.toggle-separator {
    display: table-row;
}

.table tr.toggle-separator td {
    padding: 0px;
    height: 5px;
    background-image: url('/base/images/table-seperator.png')
    /*background: repeating-linear-gradient(-45deg, #ccc, #ccc 5px, #fff 5px, #fff 10px);*/
}

.control-required {
    font-size: 14px;
    font-family: menu;
}

.dropdown-menu {
    border-radius: 1px;
}

.js .image-upload .btn-remove-url {
    border-radius: 1px;
}

.context-info .nums dl dd {
    font-size: 26px;
}

/* Well, normally we would just use Bootstrap's .clearfix, but there are some 
 * cases that we only want the :after part */
.clear-after:after {
    content: "";
    display: block;
    clear: both;
}

/* 
 * Map widgets (dialogs, containers etc.)
 */

#draw-bbox-dialog .map-container {
    height: 250px;
}

#draw-bbox-dialog {
    position: absolute;
    width: 70%;
    top: 30px;
    left: 15%;
    margin: 0px;
    /*
    position: fixed;
    width: 50%;
    top: 50px;
    left: 25%;
    margin: 0px;
    */
}

/*
 * Package states
 */

h1 > .label.package-state {
    vertical-align: super;
}

.label.state-active { }
.label.state-draft { }
.label.state-deleted { }
.label.state-invalid { }

/*
 * Resources (Search)
 */

.dataset-item .dataset-resources li a {
   padding: 4px 4px 3px 4px;
}  
/*
 * Resources (Dataset)
 */

.resources > header{
    margin-bottom: 20px;
}

.resources li.resource-item {
    padding: 5px 5px 5px 60px;
}

.resources li.resource-item .btn-download {
    //position: relative;
    //top: 0px;
    //right: 10px;
}
.resource-item .resource-action-buttons{
    display: block;
    float: right;
    margin-right: 5px;
}
.resource-action-buttons .action-button{
    margin-left: 10px;
    float: left;
}
.resource-item .btn-group{
    position: relative;
    top: 0;
    right: 0;
}
.resource-item .heading i{
    color: #4E59A4;
}
.resources li.resource-item .btn-group + .btn-group {
    //margin-right: 5px;
}

.resources li.resource-item p.description {
    width: 60%;
}
.resource-item .resource-explore-opts{
    margin-left: 10px;
}
/*
 * Resources (Dashboard)
 */

.dashboard-resources li.resource-item {
}

.dashboard-resources li.resource-item p {
    overflow: hidden;
    margin-bottom: 4px;
}

.dashboard-resources li.resource-item .resource-ingest-actions {
}

.dashboard-resources li.resource-item .btn-group.resource-ingest-opts {
    position: relative;
    top: 0px;
    right: 0px;
}

.label[data-resource-status="identifying"] {
    background-color: #DFB100;
    border: 2px #C6B489 solid;
}
.label[data-resource-status="rejected"] {
    background-color: #C43210;
    border: 2px #C43210 solid;
}
.label[data-resource-status="published"] {
    background-color: #62C462;
    border: 2px #62C462 solid;
}
.label[data-resource-status="publish-failed"],
.label[data-resource-status="identify-failed"] {
    background-color: #C6B489;
    border: 2px #C6B489 solid;
}
.label[data-resource-status="identified"] {
    background-color: #5CDBD4;
    border: 2px #5CDBD4 solid;
}
.label[data-resource-status="no-action"] {
    background-color: #999999;
    border: 2px #999999 solid;
}

/*
 * Uploads 
 */ 

.control-upload .controls {
  position:relative;
  width: 100%;
}

.form-horizontal .control-upload .controls {
  /*margin: inherit;*/
}

.control-upload .controls.choose-method input[type='file'] {
  display:none;
  position:absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  font-size: 0px;
  cursor: pointer;
  z-index: 0;
}

.control-upload .controls.choose-method button.upload-file {
  display:inline-block;
  position: static;
  z-index: -1;
  cursor: pointer;
}

.control-upload .controls.choose-method button.link-file {
  display:inline-block;
  position: static;
}

.control-upload .controls.link-file {
}

.control-upload .controls.link-file input[type='url'] {
  display: inline-block;
  margin-bottom: 0px;  
}

.control-upload .controls.link-file .btn.remove-link.stacked { 
    border-radius: 1px;
    padding: 0px 4px;
    position: relative;
    left: -29px; /* on top the right edge of .link-file input */
}

.control-upload .controls.link-file .btn.remove-link.stacked > .icon-remove {
    margin-right: 0px;
}

.control-upload .controls.upload-file {
}   

.control-upload .controls.upload-file span.selected-file {
   padding: 0px 5px;
   font-size: 0.92em;
   vertical-align: text-top;
   /*font-family: monospace;*/
}

/*
 * Import Metadata widgets
 */

#import-metadata-dialog {
    position: absolute;
    width: 75%;
    top: 0px;
}

#import-metadata-dialog .modal-body {
    padding: 10px 15px;
    height: 220px;
    overflow: auto;
}

/*
 * Dataset search/view
 */

section.tags {
    margin-bottom: 10px;
}

.search-form {
    margin-top: 10px;
}

.search-form .filter-list .pill {
    background-color: #7C7C7F;
    border-radius: 2px;
    padding: 2px 8px;
}
.search-form .filter-list .pill a.remove {
}

.download-links {
    margin-top: 8px;
}

.metadata-label {
    display: none;
}

