
.widget h3 { 
    font-size: 1.05em;
}

.widget li > .widget h3 { 
    font-size: 1em; 
}

.widget .accordion-heading a {
    font-weight: bold;
}

li .widget.object-edit-widget {
    padding: 5px 0px;
}

.widget.field-edit-widget > ul > li header > a.btn.btn-small {
    margin: 5px 0px 0px 0px;
}
.widget.field-edit-widget > ul > li header > a.btn.remove-object {
    color: brown;
}

.widget.object-read-widget .table.metadata-table {}
