{% set res = {} %}
{% set format = '' %}
{% for resource in pkg.resources %}
    {% if resource.format == 'wms' %}
        {% do res.update(resource) %}
        {% do format.update('wms') %}
    {% elif resource.format == 'wfs' %}
        {% do res.update(resource) %}
        {% do format.update('wfs') %}
    {% endif %}

{% endfor %}

<div class="accordion-group">
    <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-dev" href="#collapse-js">{{ _('Mapping API') }} &raquo;</a>
    </div>
    <div id="collapse-js" class="accordion-body collapse">
        <div class="accordion-inner">
            {% if res %}
            {% snippet 'package/snippets/developers/mapping_api_js.html', res=res, format=format %}
            {% else %}
            <strong>{{ _('The dataset contains no suitable data to use with the Mapping API')}}</strong>
            {% endif %}
        </div>
    </div>
</div>

