{% set resources = pkg.resources or [] %}
{% if resources %}
  <section class="module module-narrow resources">
    <h2 class="module-heading"><i class="icon-copy"></i> {{ _("Resources") }}</h2>
    <ul class="unstyled nav nav-simple">
    {% for resource in resources %}
        {% if not resource.format == 'data_table' %}
        {% set res_display_name = pkg.title|truncate(25)+' ('+resource.format|upper+')' %}
        <li class="nav-item{{ ' active' if active == resource.id }}">
          {% link_for res_display_name|truncate(34), controller='package', action=action or 'resource_read', id=pkg.name, resource_id=resource.id, inner_span=true %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}
