{% ckan_extends %}

  {% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="btn-group">
        <ul class="resource-actions unstyled">
      {% block resource_item_explore_links %}
      <li>
        <a href="{{ url }}">
          {% if res.can_be_previewed %}
          <div class="btn"> <i class="icon-bar-chart"></i>
              {{ _('Preview') }}</div>
          {% else %}
          <div class="btn"> <i class="icon-info-sign"></i>
              {{ _('More') }}</div>
          {% endif %}
        </a>
      </li>
      <li>
        <a href="{{ res.url }}" class="resource-url-analytics" target="_blank">
          {% if res.can_be_previewed %}
          <div class="btn"> <i class="icon-download"></i>
              {{ _('Download') }}</div>
          {% else %}
          <div class="btn"><i class="icon-external-link"></i>
              {{ _('Go to resource') }}</div>
          {% endif %}
        </a>
      </li>
      {% if can_edit %}
      <li>
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
            <div class="btn"><i class="icon-edit"></i>
              {{ _('Edit') }}</div>
        </a>
      </li>
      {% endif %}
      {% endblock %}
  </ul>
  </div>
          {#  </div> #}
  {% endif %}
  {% endblock %}
