{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active"><a href="{{ h.url_for(controller='user', action='dashboard') }}">{{ _('Dashboard') }}</a></li>
{% endblock %}

{% block secondary %}{% endblock %}

{% block page_header_navtab_links %}
  {{ h.build_nav_icon('user_dashboard_datasets', _('My Datasets')) }}
  {{ h.build_nav_icon('user_dashboard_resources', _('Resources'), icon='cogs') }}
  {{ h.build_nav_icon('user_dashboard_organizations', _('My Organizations')) }}
  {{ h.build_nav_icon('user_dashboard_groups', _('My Groups')) }}
  {{ h.build_nav_icon('user_dashboard', _('News feed')) }}
{% endblock %}

