[main]

[custom render order]

[inline scripts]

[depends]

[groups]

styles =
    css/main.css
    css/widgets.css

scripts = 
    js/page.js
    vendor/mustache.js/mustache.js

datepicker =
    vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
    vendor/bootstrap-datepicker/css/datepicker.css
    js/datepicker.js

datetimepicker =
    vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js
    vendor/bootstrap-datetimepicker/css/datetimepicker.css
    js/datetimepicker.js

timepicker =
    vendor/bootstrap-timepicker/js/bootstrap-timepicker.js
    vendor/bootstrap-timepicker/css/bootstrap-timepicker.css
    js/timepicker.js

spatial-edit =
    js/package/spatial-edit.js

spatial-query =
    js/package/spatial-query.js
