[main]

[custom render order]

[inline scripts]

[depends]

scratch = 
    vendor/mustache.js/mustache.js
    js/main.js

[groups]

styles =
    css/main.css
    css/widgets.css

scripts = 
    vendor/mustache.js/mustache.js
    js/main.js
    js/modules/select2.js

datepicker =
    vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
    vendor/bootstrap-datepicker/css/datepicker.css
    js/modules/datepicker.js

datetimepicker =
    vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js
    vendor/bootstrap-datetimepicker/css/datetimepicker.css
    js/modules/datetimepicker.js

timepicker =
    vendor/bootstrap-timepicker/js/bootstrap-timepicker.js
    vendor/bootstrap-timepicker/css/bootstrap-timepicker.css
    js/modules/timepicker.js

item-editor = 
    js/plugins/jquery-ui.item-editor.js
    js/modules/item-editor.js

spatial-edit =
    js/modules/spatial-edit.js

spatial-query =
    js/modules/spatial-query.js

form-autofiller = 
    js/modules/form-autofiller.js

form-linked-fields = 
    js/modules/form-linked-fields.js

scratch = 
    js/scratch.js
