[main]

[custom render order]

[inline scripts]

[depends]

scratch = 
    vendor/mustache.js/mustache.js
    js/main.js

[groups]

styles =
    css/main.css
    css/widgets.css

scripts = 
    vendor/mustache.js/mustache.js
    js/main.js
    js/modules/select.js

datepicker =
    vendor/bootstrap-datepicker/js/bootstrap-datepicker.js
    vendor/bootstrap-datepicker/css/datepicker.css
    js/modules/datepicker.js

datetimepicker =
    vendor/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js
    vendor/bootstrap-datetimepicker/css/datetimepicker.css
    js/modules/datetimepicker.js

timepicker =
    vendor/bootstrap-timepicker/js/bootstrap-timepicker.js
    vendor/bootstrap-timepicker/css/bootstrap-timepicker.css
    js/modules/timepicker.js

item-editor = 
    js/plugins/jquery-ui.item-editor.js
    js/modules/item-editor.js

spatial-edit =
    js/modules/spatial-edit.js

spatial-query =
    js/modules/spatial-query.js

package-form-autofiller = 
    js/modules/package-form-autofiller.js

package-form-linked-fields = 
    js/modules/package-form-linked-fields.js

thesaurus-terms = 
    js/modules/thesaurus-terms.js

geographic-bbox =
    js/modules/geographic-bbox.js

spatial-resolution =
    js/modules/spatial-resolution.js

scratch = 
    js/scratch.js
