<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    {% block footer_links %}
            {% endblock %}

    <div class="quarter">
        <ul class="unstyled"> 
            <li>
                <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
                    <div class="field">
                    <label for="field-sitewide-search">{{ _('Search') }}</label>
                    <input id="field-sitewide-search" type="text" name="q" placeholder="{{ _('Search...') }}" />
                    <button class="btn-search" type="submit"><i class="icon-search"></i></button>
                    </div>
                </form>
            </li>
            <li>
                <a class="logo" href="{{ h.url('home') }}"><img src="{{ h.url_for_static('/images/geodata-logo.png') }}" alt="{{ g.site_title }} Logo" title="{{ g.site_title }} Logo" /></a>
            </li>
        </ul>

    </div>

        {# <nav class="footer-links"> #}
        {% block footer_nav %}
       
        <div class="quarter footer-links">
            <ul class="unstyled">
            {% block footer_links_ckan %}
              {% snippet 'snippets/main_menu.html' %}                            
                {% endblock %}
            </ul>
        </div>
        
        {% endblock %}
        {# </nav> #}

        <div class="quarter footer-links">
            <ul class="unstyled">
                <li><a href="mailto:info@geodata.gov.gr">{% trans %}<span class="contact-footer">Contact</span>{% endtrans %} </a></li>
                <li><a href="http://www.imis.athena-innovation.gr"> {{ _('IMIS') }} </a></li>
                <li><a href="http://inspire.ec.europa.eu/"> {{ _('INSPIRE') }} </a></li>
                <li><a href="http://open-data.europa.eu/en/data/"> {{ _('EU Open Data Portal') }} </a></li>
            </ul>
        </div>

        <div class="quarter footer-links">
            <ul class="unstyled">
            <li><a href="http://www.publicamundi.eu">PublicaMundi</a></li>
            <li><a href="https://twitter.com/geodatagovgr">Twitter</a></li>
            <li><a href="https://github.com/PublicaMundi/geodata.gov.gr">Github</a></li>
            <li><a href="https://github.com/PublicaMundi/geodata.gov.gr/issues/new">{{_('Report issue') }}</a></li>
            </ul>
        </div>   
      
          {% block footer_attribution %}
        {% endblock %}
              
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
